<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.coupon.mapper.CouponEntityMapper">
	
	<!-- lynn 2018/4/19根据 新增-->
	<insert id="insert" parameterType="com.lhiot.mall.wholesale.coupon.domain.CouponEntity">
		insert into t_whs_coupon_entity (coupon_config_id,user_id,effective_time,failure_time,coupon_status,
			get_time,coupon_fee,full_fee)
		values(#{couponConfigId},#{userId},#{effectiveTime},#{failureTime},#{couponStatus},now(),#{couponFee},#{fullFee})
	</insert>
	
	<!-- lynn 2018/4/19批量新增-->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_whs_coupon_entity (coupon_config_id,user_id,effective_time,failure_time,coupon_status,
			get_time,coupon_fee,full_fee)
		values
		<foreach collection="list" item="item" separator="," >
			(#{item.couponConfigId},#{item.userId},#{item.effectiveTime},#{item.failureTime},#{item.couponStatus},now(),
			 #{item.couponFee}),#{item.fullFee})
		</foreach>
	</insert>
	
	<!-- lynn 2018/4/19根据 修改数量 -->
	<update id="update" parameterType="com.lhiot.mall.wholesale.coupon.domain.CouponEntity">
		update t_whs_coupon_entity 
		<trim prefix="set" suffixOverrides=",">
			<if test="useTime != null and useTime != ''">use_time=#{useTime},</if>
			<if test="couponStatus != null and couponStatus != ''">coupon_status=#{couponStatus},</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- lynn 2018/4/19根据商品id 删除商品 -->
	<delete id="removeInbatch" parameterType="java.util.List">
		delete from t_coupon_plate where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="select" parameterType="Long" resultType="com.lhiot.mall.wholesale.coupon.domain.CouponEntityResult">
		select t1.id,t1.coupon_config_id as couponConfigId,t1.user_id as userId,t1.effective_time as effectiveTime,
		t1.failure_time as failureTime,t1.coupon_status as couponStatus,t1.get_time as getTime,t1.use_time as userTime,
		t1.coupon_fee as couponFee,t1.full_fee as fullTime,t3.coupon_name as couponName,t3.coupon_type as couponType
		from t_whs_coupon_entity t1
		left join t_whs_coupon_config t2 on t1.coupon_config_id on t2.id
		left join t_coupon_plate t3 on t2.coupon_id = t3.id
		where t1.id = #{0}
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.coupon.domain.gridparam.CouponGridParam" 
		resultType="Integer">
		select count(t1.id) 
		from t_whs_coupon_entity t1
		left join t_whs_coupon_config t2 on t1.coupon_config_id on t2.id
		left join t_coupon_plate t3 on t2.coupon_id = t3.id
		<trim prefix="where" prefixOverrides="and">
			<if test="couponName != null and couponName != ''">
				 and t3.coupon_name like concat('%',#{couponName},'%')
			</if>
	        <if test="userIds != null and userIds != ''">
	            and
	            <foreach collection="userIds" item="item" index="index"  open="(" separator="or" close=")">
	                t1.user_id = #{item} 
	            </foreach>
	        </if>
		</trim>
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.coupon.domain.gridparam.CouponGridParam" 
		resultType="com.lhiot.mall.wholesale.coupon.domain.CouponEntityResult">
		select t1.id,t1.coupon_config_id as couponConfigId,t1.user_id as userId,t1.effective_time as effectiveTime,
		t1.failure_time as failureTime,t1.coupon_status as couponStatus,t1.get_time as getTime,t1.use_time as userTime,
		t1.coupon_fee as couponFee,t1.full_fee as fullTime,t3.coupon_name as couponName,t3.coupon_type as couponType
		from t_whs_coupon_entity t1
		left join t_whs_coupon_config t2 on t1.coupon_config_id on t2.id
		left join t_coupon_plate t3 on t2.coupon_id = t3.id
		<trim prefix="where" prefixOverrides="and">
			<if test="couponName != null and couponName != ''">
				 and t3.coupon_name like concat('%',#{couponName},'%')
			</if>
	        <if test="userIds != null and userIds != ''">
	            and
	            <foreach collection="userIds" item="item" index="index"  open="(" separator="or" close=")">
	                t1.user_id = #{item} 
	            </foreach>
	        </if>
		</trim>
		<include refid="common.pager"></include>
	</select>

	<!-- 查询用户优惠券列表 -->
	<select id="searchByUser" parameterType="com.lhiot.mall.wholesale.coupon.domain.UserCouponParam" 
		resultType="com.lhiot.mall.wholesale.coupon.domain.CouponEntity">
		select a.id,a.coupon_config_id as couponConfigId,a.user_id as userId,
		DATE_FORMAT(a.effective_time,'%Y-%m-%d %H:%i:%s') as effectiveTime,
		DATE_FORMAT(a.failure_time,'%Y-%m-%d %H:%i:%s') as failureTime,
		a.coupon_status as couponStatus,
		DATE_FORMAT(a.get_time,'%Y-%m-%d %H:%i:%s') as getTime,
		DATE_FORMAT(a.use_time,'%Y-%m-%d %H:%i:%s') as userTime,
		a.coupon_fee as couponFee,a.full_fee as fullFee,c.coupon_name as couponName,b.coupon_des as couponDes
		from t_whs_coupon_entity a
		left join t_whs_coupon_config b on a.coupon_config_id = b.id
		left join t_whs_coupon_plate c on b.coupon_id = c.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userId != null and userId != ''"> and user_id = #{userId}</if>
			<if test="couponStatus != null and couponStatus != ''"> and coupon_status = #{couponStatus}</if>
		</trim>
			order by couponFee desc
		<if test="start != null and start != '' 
				and rows != null and rows != ''">
			limit #{start},#{rows}
		</if>
	</select>
</mapper>