<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.goods.mapper.GoodsKeywordsMapper">
	<sql id="goodsKeywordsColumn">
		id,keyword,hot_search as hotSearch,kw_type as kwType,mapping_id as mappingId
	</sql>
	
	<!-- lynn后台管理 新增2018/4/19 -->
	<insert id="insert" parameterType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
		insert into t_whs_goods_keywords(
			<trim suffixOverrides=",">
				<if test="keyword != null and keyword != ''">keyword,</if>
				<if test="isHotSearch != null">hot_search,</if>
				<if test="kwType != null and kwType != ''">kw_type,</if>
				<if test="mappingId != null and mappingId != ''">mapping_id,</if>
			</trim>
		)
		values(
			<trim suffixOverrides=",">
				<if test="keyword != null and keyword != ''">#{keyword},</if>
				<if test="isHotSearch != null">#{isHotSearch},</if>
				<if test="kwType != null and kwType != ''">#{kwType},</if>
				<if test="mappingId != null and mappingId != ''">#{mappingId},</if>
			</trim>
		)
	</insert>
	
	<!-- lynn后台管理 删除2018/4/19 -->
	<delete id="removeInbatch" parameterType="java.util.List">
		delete from t_whs_goods_keywords where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- lynn后台管理 修改2018/4/19 -->
	<update id="update" parameterType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
		update t_whs_goods_keywords
		<trim prefix="set" suffixOverrides=",">
			<if test="keyword != null and keyword != ''">keyword=#{keyword},</if>
			<if test="isHotSearch != null">hot_search=#{isHotSearch},</if>
			<if test="kwType != null and kwType != ''">kw_type=#{kwType},</if>
			<if test="mappingId != null and mappingId != ''">mapping_id=#{mappingId},</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- lynn后台管理 根据id查询2018/4/19 -->
	<select id="select" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
		select <include refid="goodsKeywordsColumn"/> from t_whs_goods_keywords where id = #{0}
	</select>
	
	<!-- lynn后台管理 查询所有用作下拉框2018/4/19 -->
	<select id="findAll" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
		select <include refid="goodsKeywordsColumn"/> from t_whs_goods_keywords
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.KeywordsGirdParam" resultType="Integer">
		select count(o1.id) from(
			select t.* ,
			case kw_type 
			when 'goods' then (
				select n2.goods_name as goodsName from t_whs_goods_standard n1
				left join t_whs_goods n2 on n1.goods_id = n2.id
				where n1.id = t.mapping_id
			)
			else(
				select category_name as categoryName from t_whs_goods_category where id = t.mapping_id
			)
			end as mappingName
			from t_whs_goods_keywords t
		) as o1
		<trim prefix="where" prefixOverrides="and">
			<if test="hotSearch != null and hotSearch != ''">
				and o1.hot_search = #{hotSearch}
			</if>
			<if test="kwType != null and kwType != ''">
				and o1.kw_type = #{kwType}
			</if>
			<if test="keyword != null and keyword != ''">
				and o1.keyword like CONCAT('%',#{keyword},'%')
			</if>
		</trim>
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.KeywordsGirdParam" 
	    resultType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
		select o1.id ,o1.keyword,o1.hot_search as hotSearch,o1.mapping_id as mappingId,o1.mappingName,
		o1.kw_type as kwType
		from(
			select t.* ,
			case kw_type 
			when 'goods' then (
				select n2.goods_name as goodsName from t_whs_goods_standard n1
				left join t_whs_goods n2 on n1.goods_id = n2.id
				where n1.id = t.mapping_id
			)
			else(
				select category_name as categoryName from t_whs_goods_category where id = t.mapping_id
			)
			end as mappingName
			from t_whs_goods_keywords t
		) as o1
		<trim prefix="where" prefixOverrides="and">
			<if test="hotSearch != null and hotSearch != ''">
				and o1.hot_search = #{hotSearch}
			</if>
			<if test="kwType != null and kwType != ''">
				and o1.kw_type = #{kwType}
			</if>
			<if test="keyword != null and keyword != ''">
				and o1.keyword like CONCAT('%',#{keyword},'%')
			</if>
		</trim>
		<include refid="common.pager"></include>
	</select>
	
	<!-- lynn 根据条件查询关键词列表 -->
	<select id="keywords" parameterType="map" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsKeywords">
				select o1.id ,o1.keyword,o1.hot_search as hotSearch,o1.mapping_id as mappingId,o1.mappingName,
		o1.kw_type as kwType
		from(
			select t.* ,
			case kw_type 
			when 'goods' then (
				select n2.goods_name as goodsName from t_whs_goods_standard n1
				left join t_whs_goods n2 on n1.goods_id = n2.id
				where n1.id = t.mapping_id
			)
			else(
				select category_name as categoryName from t_whs_goods_category where id = t.mapping_id
			)
			end as mappingName
			from t_whs_goods_keywords t
		) as o1
		<trim prefix="where" prefixOverrides="and">
			<if test="keyword != null and keyword != ''">
				and o1.keyword like concat('%',#{keyword},'%')
			</if>
			<if test="kwType != null and kwType != ''">
				and o1.kw_type = #{kwType}
			</if>
			<if test="hotSearch != null">
				and o1.hot_search = #{hotSearch}
			</if>
		</trim>
	</select>
</mapper>