<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.goods.mapper.GoodsMapper">
	<sql id="goodsColumn">
		t1.id,t1.goods_code as goodsCode,t1.goods_name as goodsName,t1.category_id as categoryId,
		t1.goods_image as goodsImage,t1.base_bar as baseBar,t1.base_unit as baseUnit,t1.stock_limit as stockLimit,
		t1.goods_des as goodsDes,t1.goods_images as goodsImages,t1.other_image as otherImage
	</sql>
	
	<sql id="unitColumn">
		t2.unit_name as baseUnitName
	</sql>
	
	<sql id="categoryColumn">
		t3.category_name as categoryName
	</sql>
	
	<!-- lynn 2018/4/19根据商品id查询商品 -->
	<select id="select" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>, <include refid="unitColumn"/>,<include refid="categoryColumn"/>
		from t_whs_goods t1
		left join t_whs_goods_unit t2 on t1.base_unit = t2.unit_code
		left join t_whs_goods_category t3 on t1.category_id = t3.id
		where t1.id = #{0}
	</select>
	
	<!-- lynn 2018/4/19根据商品id 新增商品 -->
	<insert id="insert" parameterType="com.lhiot.mall.wholesale.goods.domain.Goods">
		insert into t_whs_goods(
			<trim suffixOverrides=",">
				<if test="goodsCode != null and goodsCode != ''">goods_code,</if>
				<if test="goodsName != null and goodsName != ''">goods_name,</if>
				<if test="categoryId != null and categoryId != ''">category_id,</if>
				<if test="goodsImage != null and goodsImage != ''">goods_image,</if>
				<if test="baseBar != null and baseBar != ''">base_bar,</if>
				<if test="baseUnit != null and baseUnit != ''">base_unit,</if>
				<if test="stockLimit != null and stockLimit != ''">stock_limit,</if>
				<if test="goodsDes != null and goodsDes != ''">goods_des,</if>
				<if test="goodsImages != null and goodsImages != ''">goods_images,</if>
				<if test="otherImage != null and otherImage != ''">other_image,</if>
			</trim>
		)
		values(
			<trim suffixOverrides=",">
				<if test="goodsCode != null and goodsCode != ''">#{goodsCode},</if>
				<if test="goodsName != null and goodsName != ''">#{goodsName},</if>
				<if test="categoryId != null and categoryId != ''">#{categoryId},</if>
				<if test="goodsImage != null and goodsImage != ''">#{goodsImage},</if>
				<if test="baseBar != null and baseBar != ''">#{baseBar},</if>
				<if test="baseUnit != null and baseUnit != ''">#{baseUnit},</if>
				<if test="stockLimit != null and stockLimit != ''">#{stockLimit},</if>
				<if test="goodsDes != null and goodsDes != ''">#{goodsDes},</if>
				<if test="goodsImages != null and goodsImages != ''">#{goodsImages},</if>
				<if test="otherImage != null and otherImage != ''">#{otherImage},</if>
			</trim>
		)
	</insert>
	
	<!-- lynn 2018/4/19根据商品id 修改商品 -->
	<update id="update" parameterType="com.lhiot.mall.wholesale.goods.domain.Goods">
		update t_whs_goods
		<trim prefix="set" suffixOverrides=",">
			<if test="goodsCode != null and goodsCode != ''">goods_code=#{goodsCode},</if>
			<if test="goodsName != null and goodsName != ''">goods_name=#{goodsName},</if>
			<if test="categoryId != null and categoryId != ''">category_id=#{categoryId},</if>
			<if test="goodsImage != null and goodsImage != ''">goods_image=#{goodsImage},</if>
			<if test="baseBar != null and baseBar != ''">base_bar=#{baseBar},</if>
			<if test="baseUnit != null and baseUnit != ''">base_unit=#{baseUnit},</if>
			<if test="stockLimit != null and stockLimit != ''">stock_limit=#{stockLimit},</if>
			<if test="reduceStockLimit != null and reduceStockLimit != ''">stock_limit=stock_limit-#{reduceStockLimit},</if>
			<if test="goodsDes != null and goodsDes != ''">goods_des=#{goodsDes},</if>
			<if test="goodsImages != null and goodsImages != ''">goods_images=#{goodsImages},</if>
			<if test="otherImage != null and otherImage != ''">other_image=#{otherImage},</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- lynn 2018/4/19根据商品id 删除商品 -->
	<delete id="removeInbatch" parameterType="java.util.List">
		delete from t_whs_goods where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.GoodsGirdParam" resultType="Integer">
		select count(t1.id) from t_whs_goods t1
		<trim prefix="where" prefixOverrides="and">
			<if test="goodsCode != null and goodsCode != ''">and t1.goods_code=#{goodsCode}</if>
			<if test="categoryId != null and categoryId != ''">and t1.category_id = #{categoryId}</if>
			<if test="goodsName != null and goodsName != ''">and t1.goods_name like CONCAT('%',#{goodsName},'%')</if>
		</trim>
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.GoodsGirdParam" 
		resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>, <include refid="unitColumn"/>,<include refid="categoryColumn"/>
		from t_whs_goods t1
		left join t_whs_goods_unit t2 on t1.base_unit = t2.unit_code
		left join t_whs_goods_category t3 on t1.category_id = t3.id
		<trim prefix="where" prefixOverrides="and">
			<if test="goodsCode != null and goodsCode != ''">and t1.goods_code=#{goodsCode}</if>
			<if test="goodsName != null and goodsName != ''">and t1.goods_name like CONCAT('%',#{goodsName},'%')</if>
			<if test="categoryId != null and categoryId != ''">and t1.category_id = #{categoryId}</if>
		</trim>
		<include refid="common.pager"></include>
	</select>


	<select id="goodsInfo" parameterType="long" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsInfo">
		select g.id,g.goods_name,s.price,
		(select MAX(r.price) from t_whs_goods_price_region r where r.goods_standard_id=s.id ) maxPrice,
		(select MIN(r.price) from t_whs_goods_price_region r where r.goods_standard_id=s.id ) minPrice,
		u.unit_name,s.standard,g.stock_limit,g.goods_image,g.goods_des,g.goods_images,g.other_image, s.id goodsStandardId
		from t_whs_goods g
		left join t_whs_goods_standard s on g.id=s.goods_id
		left join t_whs_goods_unit u on u.unit_code=s.unit_code
		where g.id=#{id}
	</select>
	
	<!-- lynn 根据规格id查询商品详情 -->
	<select id="searchByStandardId" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsInfo">
		SELECT s.id as standardId,s.price,g.id,g.goods_name,
		(select MAX(r.price) from t_whs_goods_price_region r where r.goods_standard_id=s.id ) maxPrice,
		(select MIN(r.price) from t_whs_goods_price_region r where r.goods_standard_id=s.id ) minPrice,
		u.unit_name,s.standard,g.stock_limit,g.goods_image,g.goods_des,g.goods_images,g.other_image
		FROM t_whs_goods_standard s
		LEFT JOIN t_whs_goods g ON s.goods_id = g.id
		LEFT JOIN t_whs_goods_unit u ON u.unit_code = s.unit_code
		WHERE s.id = #{0}
	</select>

	<select id="goodsFlashsale" parameterType="map" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsFlashsale">
		select special_price,limit_quantity,activity_id from t_whs_flashsale_goods
		<trim prefix="where" prefixOverrides="and">
			<if test="goodsStandardId != null and goodsStandardId != 0">and goods_standard_id=#{goodsStandardId}</if>
			<if test="activityId != null and activityId != 0">and activity_id=#{activityId}</if>
		</trim>
	</select>


    <!-- 常用清单 -->
    <select id="inventoryList" parameterType="long" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsInfo">
        select g.id,g.goods_name,s.price,(select MAX(price) FROM t_whs_goods_price_region r where r.goods_standard_id=s.id) maxPrice,
        (select MIN(price) from t_whs_goods_price_region r where r.goods_standard_id=s.id) minPrice,u.unit_name,
        (select count(*) from t_whs_order_goods og where og.goods_standard_id=s.id) saleCount,s.standard,g.goods_image,s.id as standardId
        from t_whs_goods_standard s
        LEFT JOIN t_whs_goods g on g.id=s.goods_id
        LEFT JOIN t_whs_goods_unit u on u.unit_code=s.unit_code
        where s.id in(SELECT DISTINCT t.goods_standard_id FROM t_whs_order_goods t where t.user_id=#{0}) LIMIT 10
    </select>

    <!--<select id="" parameterType="long" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsFlashsale">
        select special_price,limit_quantity,end_time from t_whs_flashsale_goods where goods_standard_id=#{0}
    </select>-->

    <!-- 常用清单 -->
    <select id="recommendList" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.goods.domain.GoodsInfo">
        select g.id,g.goods_name,s.price,(select MAX(price) FROM t_whs_goods_price_region r where r.goods_standard_id=s.id) maxPrice,
        (select MIN(price) from t_whs_goods_price_region r where r.goods_standard_id=s.id) minPrice,u.unit_name,
        (select count(*) from t_whs_order_goods og where og.goods_standard_id=s.id) saleCount,s.standard,g.goods_image,s.id as standardId
        from t_whs_goods_standard s
        LEFT JOIN t_whs_goods g on g.id=s.goods_id
        LEFT JOIN t_whs_goods_unit u on u.unit_code=s.unit_code
        where s.vaild = 'yes' and s.id in
		<foreach collection="list" item="plateId" open="(" separator="," close=")">
			#{plateId}
		</foreach>
		LIMIT 5
    </select>

	<!-- 根据条件查询商品 -->
	<select id="searchByCategory" parameterType="java.util.List" 
		resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>, <include refid="unitColumn"/>,<include refid="categoryColumn"/>
		from t_whs_goods t1
		left join t_whs_goods_unit t2 on t1.base_unit = t2.unit_code
		left join t_whs_goods_category t3 on t1.category_id = t3.id
		where t1.category_id in 
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 根据商品编码查询lynn -->
	<select id="searchByCode" parameterType="String" 
		resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>, <include refid="unitColumn"/>,<include refid="categoryColumn"/>
		from t_whs_goods t1
		left join t_whs_goods_unit t2 on t1.base_unit = t2.unit_code
		left join t_whs_goods_category t3 on t1.category_id = t3.id
		where t1.category_id = #{0} 
	</select>
	
	<!-- 根据分类id查询该分类下的商品 -->
	<select id="categoryGoods" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>,t2.id as standardId,t2.weight,t2.standard,t2.price,t3.unit_name as baseUnitName,
		t4.unit_name as goodsUnit
		from t_whs_goods_standard t2
		left join t_whs_goods t1 on  t2.goods_id = t1.id
		left join t_whs_goods_unit t3 on t1.base_unit = t3.unit_code
		left join t_whs_goods_unit t4 on t2.unit_code = t4.unit_code
		where t2.vaild='yes' AND t1.category_id = #{0}
	</select>
	
	<!-- 根据关键词查询商品 -->
	<select id="keywordGoods" parameterType="String" resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		select <include refid="goodsColumn"/>,t2.id as standardId,t2.weight,t2.standard,t2.price,t3.unit_name as baseUnitName,
		t4.unit_name as goodsUnit,gk.id as keywordId
		from t_whs_goods_keywords gk
		left join t_whs_goods_standard t2 on t2.id = gk.mapping_id
		left join t_whs_goods t1 on t1.id = t2.goods_id
		left join t_whs_goods_unit t3 on t1.base_unit = t3.unit_code
		left join t_whs_goods_unit t4 on t2.unit_code = t4.unit_code
		<trim prefix="where" prefixOverrides="and">
			<if test=" _parameter != null and _parameter != ''">
				gk.keyword like concat('%',#{0},'%')
			</if>
			and gk.kw_type = 'goods' and t2.vaild = 'yes'
		</trim>
	</select>
	
	<!-- 根据版块id查询商品列表 -->
	<select id="plateGoodses" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.Goods">
		SELECT 
		t3.id,t3.goods_code as goodsCode,t3.goods_name as goodsName,t3.category_id as categoryId,
		t3.goods_image as goodsImage,t3.base_bar as baseBar,t3.base_unit as baseUnit,t3.stock_limit as stockLimit,
		t3.goods_des as goodsDes,t3.goods_images as goodsImages,t3.other_image as otherImage,
		t2.weight,t2.standard,t2.price,t4.unit_name as baseUnitName,t2.id as standardId,
		t5.unit_name as goodsUnit
		FROM t_whs_plate_goods t1
		LEFT JOIN t_whs_goods_standard t2 ON t1.goods_standard_id = t2.id
		LEFT JOIN t_whs_goods t3 ON t2.goods_id = t3.id
		LEFT JOIN t_whs_goods_unit t4 ON t2.unit_code = t4.unit_code
		LEFT JOIN t_whs_goods_unit t5 ON t3.base_unit = t5.unit_code
		where t2.vaild='yes' and t1.plate_id = #{0}
	</select>
	
	<!-- lynn 批量修改商品的分类 -->
	<update id="updateCategory" parameterType="map">
		update t_whs_goods
		<trim prefix="set">
			<if test="categoryId != null and categoryId != 0">
				category_id = #{categoryId}
			</if>
		</trim>
		<trim prefix="where">
			<if test="goodsIds != null">
				id in
				<foreach collection="goodsIds" item = "item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</trim>
	</update>
</mapper>