<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.goods.mapper.PlateCategoryMapper">
	<sql id="pleateCategoryColumn">
		t1.id,t1.plate_name as plateName,t1.plate_image as plateImage,t1.rank,t1.parent_id as parentId,
		t1.layout
	</sql>
	
	<!-- lynn后台管理 新增2018/4/19 -->
	<insert id="insert" parameterType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		insert into t_whs_plate_category(
			<trim suffixOverrides=",">
				<if test="plateName != null and plateName != ''">plate_name,</if>
				<if test="plateImage != null and plateImage != ''">plate_image,</if>
				<if test="rank != null and rank != ''">rank,</if>
				<if test="parentId != null and parentId != ''">parent_id,</if>
				<if test="layout != null and layout != ''">layout,</if>
			</trim>
		)
		values(
			<trim suffixOverrides=",">
				<if test="plateName != null and plateName != ''">#{plateName},</if>
				<if test="plateImage != null and plateImage != ''">#{plateImage},</if>
				<if test="rank != null and rank != ''">#{rank},</if>
				<if test="parentId != null and parentId != ''">#{parentId},</if>
				<if test="layout != null and layout != ''">#{layout},</if>
			</trim>
		)
	</insert>
	
	<!-- lynn后台管理 删除2018/4/19 -->
	<delete id="removeInbatch" parameterType="java.util.List">
		delete from t_whs_plate_category where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- lynn后台管理 修改2018/4/19 -->
	<update id="update" parameterType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		update t_whs_plate_category
		<trim prefix="set" suffixOverrides=",">
			<if test="plateName != null and plateName != ''">
				plate_name = #{plateName},
			</if>
			<if test="plateImage != null and plateImage != ''">
				plate_image = #{plateImage},
			</if>
			<if test="rank != null and rank != ''">
				rank = #{rank},
			</if>
			<if test="layout != null and layout != ''">
				layout = #{layout},
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- lynn后台管理 根据id查询2018/4/19 -->
	<select id="select" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category t1 where id = #{0}
	</select>
	
	<!-- lynn后台管理 根据类型查询所有2018/4/19 -->
	<select id="searchByType" parameterType="String" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category t1
		where parent_id != '0' and layout = #{0}
	</select>
	
	<!-- lynn后台管理 查询所有2018/4/19 -->
	<select id="searchAll" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category t1
		where parent_id != '0'
	</select>
	
	<select id="search" parameterType="java.util.List" 
			resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_goods t2
		left join t_whs_plate_category t1 on t2.plate_id = t1.id
		where t2.plate_id in 
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select> 
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQueryCount" resultType="Integer">
		select count(id) from t_whs_plate_category
		<trim prefix="where" prefixOverrides="and">
			<if test="plateName != null and plateName != ''">
				and plate_name like concat('%',#{plateName},'%')
			</if>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId}
			</if>
		</trim>
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.PlateGirdParam" 
		resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> 
		from t_whs_plate_category t1
		<trim prefix="where" prefixOverrides="and">
			<if test="plateName != null and plateName != ''">
				and plate_name like concat('%',#{plateName},'%')
			</if>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId}
			</if>
		</trim>
		<include refid="common.pager"></include>
	</select>
	
	<!-- lynn查找商品分类数 -->
	<select id="findTree" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		SELECT 
			id,
			plate_name as plateName,
			parent_id as parentId,
			(SELECT plate_name FROM t_whs_plate_category WHERE id=src.parent_id) AS parentPlateNamee,
			levels 
		FROM (
			SELECT id,plate_name,parent_id,
			@le:= IF (parent_id = 0 ,0, IF( LOCATE( CONCAT('|',parent_id,':'),@pathlevel) > 0 , 
			SUBSTRING_INDEX( SUBSTRING_INDEX(@pathlevel,CONCAT('|',parent_id,':'),-1),'|',1) +1,@le+1) ) levels, 
			@pathlevel:= CONCAT(@pathlevel,'|',plate_name,':', @le ,'|') pathlevel, 
			@pathnodes:= IF( parent_id =0,',0', CONCAT_WS(',',IF( LOCATE( CONCAT('|',parent_id,':'),@pathall) > 0 , 
			SUBSTRING_INDEX( SUBSTRING_INDEX(@pathall,CONCAT('|',parent_id,':'),-1),'|',1),@pathnodes ) ,parent_id ) )paths,
			@pathall:=CONCAT(@pathall,'|',plate_name,':', @pathnodes ,'|') pathall 
			FROM t_whs_plate_category, (SELECT @le:=0,@pathlevel:='', @pathall:='',@pathnodes:='') vv
			ORDER BY parent_id,plate_name
		) src
		ORDER BY parent_id
	</select>
	
	<!-- 判断是否存在滚动布局 -->
	<select id="rollongLayout" resultType="Integer">
		select count(id) from t_whs_plate_category where layout = 'rollingLayout'
	</select>
	
	<!-- 查询版块下的商品id -->
	<select id="plateGoodsId" parameterType="String" resultType="Long">
		SELECT t1.goods_standard_id FROM t_whs_plate_goods t1
		LEFT JOIN t_whs_plate_category t2 ON t1.plate_id = t2.id
		WHERE t2.layout=#{0}
	</select>
</mapper>