<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.goods.mapper.PlateCategoryMapper">
	<sql id="pleateCategoryColumn">
		id,plate_name as plateName,plate_image as plateImage,rank
	</sql>
	
	<!-- lynn后台管理 新增2018/4/19 -->
	<insert id="insert" parameterType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		insert into t_whs_plate_category(
			<trim suffixOverrides=",">
				<if test="plateName != null and plateName != ''">plate_name,</if>
				<if test="plateImage != null and plateImage != ''">plate_image,</if>
				<if test="rank != null and rank != ''">rank,</if>
			</trim>
		)
		values(
			<trim suffixOverrides=",">
				<if test="plateName != null and plateName != ''">#{plateName},</if>
				<if test="plateImage != null and plateImage != ''">#{plateImage},</if>
				<if test="rank != null and rank != ''">#{rank},</if>
			</trim>
		)
	</insert>
	
	<!-- lynn后台管理 删除2018/4/19 -->
	<delete id="removeInbatch" parameterType="java.util.List">
		delete from t_whs_plate_category where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- lynn后台管理 修改2018/4/19 -->
	<update id="update" parameterType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		update t_whs_plate_category
		<trim suffix="set" suffixOverrides=",">
			<if test="plateName != null and plateName != ''">
				plate_name = #{plateName},
			</if>
			<if test="plateImage != null and plateImage != ''">
				plate_image = #{plateImage},
			</if>
			<if test="rank != null and rank != ''">
				parent_id = #{rank},
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- lynn后台管理 根据id查询2018/4/19 -->
	<select id="select" parameterType="Long" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category where id = #{0}
	</select>
	
	<!-- lynn后台管理 查询所有2018/4/19 -->
	<select id="search" resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQueryCount" resultType="Integer">
		select count(id) from t_whs_plate_category
	</select>
	
	<!-- lynn后台管理 分页查询2018/4/19 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.goods.domain.girdparam.GoodsStandardGirdParam" 
		resultType="com.lhiot.mall.wholesale.goods.domain.PlateCategory">
		select <include refid="pleateCategoryColumn"/> from t_whs_plate_category
		<include refid="common.pager"></include>
	</select>
</mapper>