<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.order.mapper.DebtOrderMapper">
    <sql id="debtOrderColumn">
       t1.id as id,t1.check_time as checkTime,t1.order_debt_code as orderDebtCode,t1.user_id as userId,t1.create_time as createTime,
    t1.debt_fee as debtFee,t1.check_status as checkStatus,t1.payment_type as paymentType,t1.payment_evidence as paymentEvidence,
    t1.order_ids as orderIds,t1.under_line_pay as underLinePay,t1.remarks as remarks
    </sql>

    <insert id="save" parameterType="com.lhiot.mall.wholesale.order.domain.DebtOrder"  useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_debt_order (
                check_time,
                order_debt_code,
                user_id,
                create_time,
                debt_fee,
                check_status,
                payment_evidence,
                order_ids) VALUES
          (#{checkTime},#{orderDebtCode},
              #{userId},#{createTime},#{debtFee},#{checkStatus},#{paymentEvidence},#{orderIds})
    </insert>

    <update id="updateDebtOrderByCode" parameterType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        update t_whs_debt_order
        <set>
            <if test="checkStatus != null and checkStatus !=''">
             check_status=#{checkStatus},
            </if>
            <if test="paymentEvidence != null and paymentEvidence !=''">
                payment_evidence=#{paymentEvidence},
            </if>
            <if test="checkTime != null">
                check_time=#{checkTime},
            </if>
            <if test="paymentType != null">
                payment_type=#{paymentType},
            </if>
            <if test="remarks != null">
                remarks=#{remarks},
            </if>
            <if test="underLinePay != null">
                under_line_pay=#{underLinePay},
            </if>
        </set>
        where order_debt_code=#{orderDebtCode}
    </update>

    <select id="findByCode" parameterType="String" resultType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        select id,check_time,order_debt_code,user_id,create_time,
                debt_fee,check_status,payment_evidence,order_ids
        from t_whs_debt_order where order_debt_code=#{orderDebtCode}
    </select>

    <select id="findByOrderIdLike" parameterType="String" resultType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        select id,check_time,order_debt_code,user_id,create_time,
                debt_fee,check_status,payment_evidence,order_ids
        from t_whs_debt_order where order_ids=CONCAT('%',#{0},'%')
    </select>

    <!-- 后台管理 分页查询总数 -->
    <select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.DebtOrderGridParam" resultType="Integer">
        select count(t1.id)
        from t_whs_debt_order t1
        <trim prefix="where" prefixOverrides="and">
            <if test="orderDebtCode != null and orderDebtCode != ''">and t1.order_debt_code like CONCAT('%', #{orderDebtCode},'%')</if>
            <if test="checkStatus != null and checkStatus != ''">and t1.check_status = #{checkStatus}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and t1.payment_type = "offline"
        </trim>
</select>

    <!-- 后台管理 分页查询账款订单记录 -->
    <select id="pageQuery" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.DebtOrderGridParam"
            resultType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        select <include refid="debtOrderColumn"/>,IFNULL(SUM(t2.total_fee),0) as totalFee,IFNULL(SUM(t2.discount_fee),0) as discountFee,IFNULL(SUM(t2.payable_fee),0) as payableFee,
       IFNULL(SUM(t2.delivery_fee),0) as deliveryFee
        from t_whs_debt_order t1
        left join t_whs_order t2 on FIND_IN_SET(t2.order_code,t1.order_ids)
        <trim prefix="where" prefixOverrides="and">
            <if test="orderDebtCode != null and orderDebtCode != ''">and t1.order_debt_code like CONCAT('%', #{orderDebtCode},'%')</if>
            <if test="checkStatus != null and checkStatus != ''">and t1.check_status = #{checkStatus}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and t1.payment_type = "offline"
        </trim>
        GROUP BY t1.id
        <include refid="common.pager"></include>
    </select>

    <!-- 根据账款订单id查询详情 -->
    <select id="searchDebtOrderById" parameterType="long" resultType="com.lhiot.mall.wholesale.order.domain.DebtOrderResult">
        SELECT <include refid="debtOrderColumn"/>
        FROM t_whs_debt_order t1
        WHERE t1.id = #{0}
    </select>

    <!-- 后台管理系统 数据导出 -->
    <select id="exportData" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.DebtOrderGridParam"
            resultType="map">
        select t1.id as id,t1.order_debt_code as orderDebtCode,t2.shop_name as shopName,t2.user_name as userName,t2.phone as phone,
        case t1.payment_type when 'balance' then '余额支付' when 'wechat' then '微信支付' when 'offline' then '线下支付' end as paymentType,t1.payment_evidence as paymentEvidence,
        FORMAT(t1.debt_fee/100.0,2) as debtFee,DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,DATE_FORMAT(t1.check_time,'%Y-%m-%d %H:%i:%s') as checkTime,t1.remarks as remarks,
        case t1.check_status when 'unpaid' then '未支付' when 'failed' then '已失效' when 'paid' then '已支付' when 'unaudited' then '未审核' when 'agree' then '审核通过' when 'reject' then '审核不通过' end as checkStatus,
        IFNULL(FORMAT(SUM(t3.total_fee)/100.0,2),'0.00') AS totalFee,
        IFNULL(FORMAT(SUM(t3.discount_fee)/100.0,2),'0.00') AS discountFee,
        IFNULL(FORMAT(SUM(t3.delivery_fee)/100.0,2),'0.00') AS deliveryFee,
        IFNULL(FORMAT(SUM(t3.payable_fee)/100.0,2),'0.00') AS payableFee,
        IFNULL(FORMAT(SUM(t1.under_line_pay)/100.0,2),'0.00') AS underLinePay
        from t_whs_debt_order t1
        LEFT JOIN t_whs_user t2 on t1.user_id = t2.id
        LEFT JOIN t_whs_order t3 ON FIND_IN_SET(t3.order_code,t1.order_ids)
        <trim prefix="where" prefixOverrides="and">
            <if test="orderDebtCode != null and orderDebtCode != ''">and t1.order_debt_code like CONCAT('%', #{orderDebtCode},'%')</if>
            <if test="checkStatus != null and checkStatus != ''">and t1.check_status = #{checkStatus}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="shopName != null and shopName != ''">and t2.shop_name like CONCAT('%',#{shopName},'%')</if>
            <if test="phone != null and phone != ''">and t2.phone like CONCAT('%',#{phone},'%')</if>
            and t1.payment_type = "offline"
        </trim>
        GROUP BY t1.id
    </select>
    
    <!-- 通过订单号查询账款订单信息 -->
    <select id="findByOrderCode" parameterType="String" resultType="com.lhiot.mall.wholesale.order.domain.DebtOrderResult">
    	SELECT * FROM t_whs_debt_order
		WHERE FIND_IN_SET(#{0},order_ids) 
		AND check_status = 'paid'
    </select>
</mapper>