<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.order.mapper.DebtOrderMapper">



    <insert id="save" parameterType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        insert into t_whs_order (
                check_time
                order_debt_code
                user_id
                create_time
                debt_fee
                check_status
                payment_evidence
                order_ids) VALUES
          (#{checkTime},#{orderDebtCode},
              #{userId},#{createTime},#{debtFee},#{checkStatus},#{paymentEvidence},#{orderIds})
    </insert>

    <update id="updateDebtOrderByCode" parameterType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        update t_whs_debt_order
        <set>
            <if test="checkStatus != null and checkStatus !=0">
             check_status=#{checkStatus},
            </if>
            <if test="paymentEvidence != null and paymentEvidence !=0">
                payment_evidence=#{paymentEvidence},
            </if>
            <if test="checkTime != null">
                check_time=#{checkTime},
            </if>
        </set>
        where order_debt_code=#{orderDebtCode}
    </update>

    <select id="findByCode" parameterType="com.lhiot.mall.wholesale.order.domain.DebtOrder">
        select id,check_time
                order_debt_code
                user_id
                create_time
                debt_fee
                check_status
                payment_evidence
                order_ids
        from t_whs_debt_order where order_debt_code=#{orderDebtCode}
    </select>
</mapper>