<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.order.mapper.OrderMapper">
    <sql id="orderColumn">
        t1.id as id,t1.order_code as orderCode,t1.user_id as userId,t1.salesman_id as salesmanId,t1.total_fee as totalFee,
    DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,t1.order_status as orderStatus,t1.order_coupon as orderCoupon,t1.discount_fee as discountFee,
    t1.payable_fee as payableFee,t1.hd_status as hdStatus,DATE_FORMAT(t1.delivery_time,'%Y-%m-%d %H:%i:%s') as deliveryTime,t1.delivery_fee as deliveryFee,
    t1.remarks as remarks,t1.settlement_type as settlementType,t1.pay_status as payStatus,t1.delivery_address as deliveryAddress,
    DATE_FORMAT(t1.receive_time,'%Y-%m-%d %H:%i:%s') as receiveTime,DATE_FORMAT(t1.after_sale_time,'%Y-%m-%d %H:%i:%s') as afterSale_Time
    </sql>

    <!-- 查询订单信息 -->
    <select id="searchOrders"  parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
       select id,order_code orderCode,ifnull(discount_fee,0) discountFee,settlement_type settlementType,pay_status payStatus,user_id
        ,order_status orderStatus,create_time createTime,ifnull(total_fee,0) totalFee,ifnull(payable_fee,0) payableFee,remarks,after_sale_time afterSaleTime
       from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userId != null ">and o.user_id=#{userId}</if>
            <if test="settlementType != null ">and o.settlement_type=#{settlementType}</if>
            <if test="payStatus != null ">and o.pay_status=#{payStatus}</if>
            <if test="orderStatus != null and  orderStatus != 'all' ">and o.order_status = #{orderStatus}</if>
            <if test="orderStatusIn != null">
                and o.order_status in
                <foreach collection="orderStatusIn" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </trim>
        ORDER BY o.create_time desc
        <if test="userId != null ">

        </if>
        <include refid="common.pager"></include>
    </select>

    <select id="searchAfterSaleOrders"  parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,ifnull(discount_fee,0) discountFee,settlement_type settlementType,pay_status payStatus,user_id
        ,order_status orderStatus,create_time createTime,ifnull(total_fee,0) totalFee,ifnull(payable_fee,0) payableFee,remarks,after_sale_time afterSaleTime
        from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userId != null ">and o.user_id=#{userId}</if>
            <if test="settlementType != null ">and o.settlement_type=#{settlementType}</if>
            <if test="payStatus != null ">and o.pay_status=#{payStatus}</if>
            <if test="orderStatus != null ">and o.order_status = #{orderStatus}</if>
            <if test="invoiceStatus != null and invoiceStatus !=''">and invoice_status = #{invoiceStatus}</if>
            <if test="afterStatus != null and afterStatus !=''">and after_status = #{afterStatus}</if>
        </trim>
        and DATE_SUB(CURDATE(),INTERVAL 30 DAY) &lt;= o.create_time
        ORDER BY o.create_time desc
        <include refid="common.pager"></include>
    </select>

    <select id="searchOrder"  parameterType="String" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,IFNULL(discount_fee,0) discountFee,settlement_type settlementType,pay_status payStatus,user_id
        ,order_status orderStatus,create_time createTime,IFNULL(total_fee,0) totalFee,IFNULL(payable_fee,0) payableFee,remarks,
        hd_status,delivery_time,IFNULL(delivery_fee,0) deliveryFee,delivery_address,hd_code
        from t_whs_order o where o.order_code = #{orderCode}
    </select>

    <select id="searchOrderGoods"  parameterType="long" resultType="com.lhiot.mall.wholesale.order.domain.OrderGoods">
        select t.id,g.goods_name goodsName,t.goods_standard_id goodsStandardId,u.unit_name unit,t.standard_weight standardWeight,
        t.goods_price goodsPrice,t.quanity,g.goods_image goodsImage,s.hd_sku_id,t.flash,t.discount_goods_price
        from t_whs_order_goods t
        LEFT JOIN t_whs_goods_standard s on t.goods_standard_id=s.id
        LEFT JOIN t_whs_goods g on g.id=s.goods_id
        LEFT JOIN t_whs_goods_unit u on u.unit_code=s.unit_code
        where t.order_id=#{orderId}
    </select>

    <select id="searchOutstandingAccountsOrder"  parameterType="String" resultType="String">
        select check_status from t_whs_debt_order do
        where do.order_ids LIKE concat('%',#{orderCode},'%')  ORDER BY do.create_time desc LIMIT 1
    </select>

    <select id="searchOrdersByOrderCodes" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,discount_fee discountFee,settlement_type settlementType,pay_status payStatus
        ,order_status orderStatus,create_time createTime,total_fee total,payable_fee payableFee,delivery_fee,remarks
        from t_whs_order where order_code in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="searchOrdersByOrderIds" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,discount_fee discountFee,settlement_type settlementType,pay_status payStatus
        ,order_status orderStatus,create_time createTime,total_fee total,payable_fee payableFee,delivery_fee,remarks
        from t_whs_order where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <insert id="save" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_order (order_code,user_id,
                        salesman_id,total_fee,create_time,order_status,order_coupon,discount_fee,payable_fee,
                        hd_status,delivery_time,delivery_fee,remarks,settlement_type,
                        pay_status,delivery_address,receive_time,after_sale_time,hd_code
                        ) VALUES
          (#{orderCode},#{userId},
              #{salesmanId},#{totalFee},#{createTime},#{orderStatus},#{orderCoupon},#{discountFee},#{payableFee},
              #{hdStatus},#{deliveryTime},#{deliveryFee},#{remarks},#{settlementType},
              #{payStatus},#{deliveryAddress},#{receiveTime},#{afterSaleTime},#{hdCode}
          )
    </insert>

    <insert id="saveOrderGoods" parameterType="com.lhiot.mall.wholesale.order.domain.OrderGoods">
        insert into t_whs_order_goods (goods_standard_id,standard_weight,
        order_id,quanity,goods_price,payment_time,refund_status,
        discount_goods_price,user_id,purchase_price,goods_id,flash
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.goodsStandardId},#{item.standardWeight},#{item.orderId},#{item.quanity},#{item.goodsPrice},#{item.paymentTime},#{item.refundStatus},
            #{item.discountGoodsPrice},#{item.userId},#{item.purchasePrice},#{item.goodsId},#{item.flash})
        </foreach>
    </insert>

    <!--依据订单编码和当前状态修改订单状态-->
    <update id="updateOrderStatusByCode" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        UPDATE t_whs_order set order_status=#{orderStatus} where order_status=#{currentOrderStatus} and order_code=#{orderCode}
    </update>
    <!--依据订单编码修改订单信息-->
    <update id="updateOrder" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        UPDATE t_whs_order
        <set>
            <if test="hdCode!=null and hdCode!=''">
                hd_code=#{hdCode},
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},
            </if>
            <if test="receiveTime!=null">
                receive_time=#{receiveTime},
            </if>
            <if test="payStatus!=null and payStatus!=''">
                pay_status=#{payStatus},
            </if>
            <if test="hdStatus!=null and hdStatus!=''">
                hd_status=#{hdStatus},
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                order_status=#{orderStatus},
            </if>
            <if test="settlementType!=null and settlementType!=''">
                settlement_type=#{settlementType},
            </if>
            <if test="invoiceStatus!=null and invoiceStatus!=''">
                invoice_status=#{invoiceStatus},
            </if>
            <if test="afterStatus!=null and afterStatus!=''">
                after_status=#{afterStatus},
            </if>
        </set>
         where order_code=#{orderCode}
    </update>

    <!--依据订单编号修改订单信息-->
    <update id="updateOrderById" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        UPDATE t_whs_order
        <set>
            <if test="hdCode!=null and hdCode!=''">
                hd_code=#{hdCode},
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},
            </if>
            <if test="receiveTime!=null">
                receive_time=#{receiveTime},
            </if>
            <if test="payStatus!=null and payStatus!=''">
                pay_status=#{payStatus},
            </if>
            <if test="hdStatus!=null and hdStatus!=''">
                hd_status=#{hdStatus},
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                order_status=#{orderStatus},
            </if>
            <if test="settlementType!=null and settlementType!=''">
                settlement_type=#{settlementType},
            </if>
            <if test="invoiceStatus!=null and invoiceStatus!=''">
                invoice_status=#{invoiceStatus},
            </if>
        </set>
        where id=#{id}
    </update>


    <!-- 统计商品的售卖数量 -->
    <select id="soldQuantity" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.order.domain.SoldQuantity">
    	select t1.goods_id as goodsId,sum(quanity) as soldQuantity
		from t_whs_order_goods t1
		left join t_whs_order t2 on t1.order_id = t2.id
		<trim prefix="where">
			goods_id in
			<foreach collection="list" item="item" open="(" separator="," close=")">
				 #{item}
			</foreach>
			and t2.order_status in ('undelivery','delivery','received') and t1.refund_status = 'no'
		</trim>
		group by t1.goods_id
    </select>

    <!-- 后台管理 分页查询总数 -->
    <select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.OrderGridParam" resultType="Integer">
        select count(t1.id) from t_whs_order t1
        <trim prefix="where" prefixOverrides="and">
            <if test="createTimeBegin != null and createTimeBegin != '' and createTimeBegin != 'null' ">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != '' and createTimeEnd != 'null' ">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="orderCode != null and orderCode != '' and orderCode != 'null' ">and t1.order_code = #{orderCode}</if>
            <if test="orderStatus != null and orderStatus != '' and orderStatus != 'null' ">and t1.order_status = #{orderStatus}</if>
            <if test="payStatus != null and payStatus != '' and payStatus != 'null' ">and t1.pay_status = #{payStatus}</if>
            <if test="settlementType != null and settlementType != '' and settlementType != 'null'">and t1.settlement_type = #{settlementType}</if>
            <if test="id != null and id != ''">and t1.id = #{id}</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
    </select>

    <!-- 后台管理 分页查询-查询订单列表 -->
    <select id="pageQuery" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.OrderGridParam"
            resultType="com.lhiot.mall.wholesale.order.domain.OrderGridResult">
        select <include refid="orderColumn"/>
        from t_whs_order t1
        <trim prefix="where" prefixOverrides="and">
            <if test="createTimeBegin != null and createTimeBegin != '' and createTimeBegin != 'null' ">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != '' and createTimeEnd != 'null' ">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="orderCode != null and orderCode != '' and orderCode != 'null' ">and t1.order_code like CONCAT('%', #{orderCode},'%')</if>
            <if test="orderStatus != null and orderStatus != '' and orderStatus != 'null' ">and t1.order_status = #{orderStatus}</if>
            <if test="payStatus != null and payStatus != '' and payStatus != 'null' ">and t1.pay_status = #{payStatus}</if>
            <if test="settlementType != null and settlementType != '' and settlementType != 'null' ">and t1.settlement_type = #{settlementType}</if>
            <if test="id != null and id != ''">and t1.id  like CONCAT('%',  #{id},'%')</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="orderIds != null and orderIds.size()>0">
                and t1.order_code in
                <foreach collection="orderIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </trim>
        <include refid="common.pager"></include>
    </select>

    <!--查询订单信息-->
    <select id="order" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail"  resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select * from t_whs_order
        <where>
            <if test="id!=null and id!=0"> and id = #{id} </if>
            <if test="orderCode!=null and orderCode!=''"> and order_code = #{orderCode} </if>
            <if test="userId!=null and userId!=0"> and user_id = #{userId} </if>
            <if test="salesmanId!=null and salesmanId!=0"> and salesman_id = #{salesmanId} </if>
            <if test="createTime!=null and createTime!=''"> and create_time = #{createTime} </if>
            <if test="orderStatus!=null and orderStatus!=''"> and order_status = #{orderStatus} </if>
        </where>
    </select>

    <!--用户最近下单数据 下单金额和下单时间-->
    <select id="lateOneOrder" parameterType="long"  resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select t.payable_fee,t.create_time from t_whs_order t where t.user_id=#{userId} ORDER BY t.create_time DESC LIMIT 1
    </select>

    <!--用户最近下单数据 -->
    <select id="lateOrders" parameterType="com.lhiot.mall.wholesale.order.domain.OrderParam"  resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,discount_fee orderDiscountFee,settlement_type orderType,pay_status payStatus
        ,order_status orderStatus,create_time createTime,total_fee total,payable_fee needPay,remarks,after_sale_time afterSaleTime
        from t_whs_order o where o.user_id=#{id}
        and o.order_status = 'received'
        and DATE_SUB(CURDATE(),INTERVAL 30 DAY) &lt;= o.create_time
    </select>

    <!--用户最近下单数据 -->
    <select id="lateOrdersFee" parameterType="com.lhiot.mall.wholesale.order.domain.OrderParam"  resultType="Integer">
        select IFNULL(SUM(payable_fee),0) ordersTotalFee
					from t_whs_order o where o.user_id=#{id}
							and o.order_status = 'received'
					and DATE_SUB(CURDATE(),INTERVAL 30 DAY) &lt;= o.create_time
    </select>

    <!-- 后台管理  根据id查询订单详情 -->
    <select id="searchOrderById" parameterType="long" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        SELECT <include refid="orderColumn"/>
        FROM t_whs_order t1
        WHERE t1.id = #{0}
    </select>

    <!-- 后台管理系统查找订单状态、支付状态、支付类型 -->
    <select id="searchOrderStatus"  resultType="com.lhiot.mall.wholesale.order.domain.OrderStatusResult">
        select t1.order_status as orderStatus,t1.pay_status as payStatus,t1.settlement_type as settlementType
        from t_whs_order t1
    </select>

    <!-- 用户下单情况 -->
    <select id="userOrder" parameterType="com.lhiot.mall.wholesale.order.domain.OrderParam" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select * from t_whs_order where user_id=#{id}
        <choose>
            <when test="dayNum!=null and dayNum!=1">
              and DATE_SUB(CURDATE(),INTERVAL #{dayNum} DAY) &lt;= create_time limit 1
            </when>
            <otherwise>
                limit 1
            </otherwise>
        </choose>
    </select>

    <!--分页查询订单信息-->

   <!-- <select parameterType="map" id="page" resultType="com.lhiot.mall.wholesale.aftersale.domain.Order">
        select o.* from t_whs_order_refund_application a
        LEFT JOIN t_whs_order o on a.order_id=o.order_code
        <where>
            <if test="orderCode!=null and orderCode!='null' and orderCode!=''"> and o.order_code = #{orderCode} </if>
        </where>
    </select>-->

    <!-- 查询用户是否下过单 -->
    <select id="isExistsOrderByuserId" parameterType="long" resultType="java.lang.Integer">
        SELECT count(1) from t_whs_order t where t.user_id=#{userId} ORDER BY t.create_time DESC LIMIT 1
    </select>
    <!--根据id查询欠款总额-->
    <!-- 根据门店id,开始时间,结束时间统计应付金额-->
    <select id="countOverDue" parameterType="map" resultType="map">
        select IFNULL(SUM(payable_fee),0) ordersTotalFee,count(o.id) totalNum
        from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userIds != null and userIds.size()>0">
                and o.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and o.order_status = 'received' and pay_status = 'unpaid' and settlement_type = 'cod'
        </trim>
    </select>
    <!-- 根据门店id,开始时间,结束时间统计应付金额-->
    <select id="countPayAbleFee" parameterType="map" resultType="map">
        select IFNULL(SUM(payable_fee),0) ordersTotalFee,count(o.id) totalNum
        from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userIds != null and userIds.size()>0">
                and o.user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startTime!=null and startTime!=''"> and o.create_time >= #{startTime} </if>
            <if test="endTime!=null and endTime!=''"> and o.create_time &lt; #{endTime} </if>
            and o.order_status = 'received'
        </trim>
    </select>

    <select id="select" parameterType="long" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,IFNULL(discount_fee,0) discountFee,settlement_type settlementType,pay_status payStatus,user_id
        ,order_status orderStatus,create_time createTime,IFNULL(total_fee,0) totalFee,IFNULL(payable_fee,0) payableFee,remarks,
        hd_status,delivery_time,IFNULL(delivery_fee,0) deliveryFee,delivery_address,hd_code
        from t_whs_order o where o.id = #{0}
    </select>

    <!-- 后台管理系统 计算订单折扣总金额，应付总金额，实付总金额，配送费总金额之和-->
    <select id="countFee" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select IFNULL(SUM(o.discount_fee),0) as discountFee,IFNULL(SUM(o.total_fee),0) as totalFee,IFNULL(SUM(o.payable_fee),0) as payableFee,IFNULL(SUM(o.delivery_fee),0) as deliveryFee
        from t_whs_order o where o.order_code in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 后台管理系统 数据导出 -->
    <select id="exportData" parameterType="com.lhiot.mall.wholesale.order.domain.gridparam.DebtOrderGridParam"
            resultType="map">
        select t1.order_code as orderCode,t1.hd_code as hdCode,DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        FORMAT(t1.total_fee/100.0,2) as totalFee,FORMAT(t1.discount_fee/100.0,2) as discountFee,
        FORMAT(t1.delivery_fee/100.0,2) as deliveryFee,FORMAT(t1.payable_fee/100.0,2) as payableFee,FORMAT(t3.refund_fee/100.0,2) as refundFee,
        case t1.order_status when 'failed' then '已失效' when 'unpaid' then '待付款' when 'paying' then '支付中'  when 'undelivery' then '待发货' when 'delivery' then '配送中'  when 'unrefunded' then '退货中' when 'refunded' then '退货成功'  when 'received' then '已收货' end as orderStatus,
        case t1.hd_status when 'success' then '成功' when 'failed' then '失败' end as hdStatus,t2.user_name as userName,t2.phone as phone,t2.shop_name as shopName,t1.delivery_address as deliveryAddress,DATE_FORMAT(t1.receive_time,'%Y-%m-%d %H:%i:%s') as receiveTime,
        case t1.settlement_type when 'balance' then '余额支付'  when 'wechat' then '微信支付' end as settlementType,
        DATE_FORMAT(t3.payment_time,'%Y-%m-%d %H:%i:%s') as paymentTime,case t1.invoice_status when 'yes' then '已开票' when 'no' then '未开票' end as invoiceStatus,
        DATE_FORMAT(t1.after_sale_time,'%Y-%m-%d %H:%i:%s') as afterSaleTime,case t1.after_status when 'yes' then '已开票' when 'no' then '未开票' end as afterStatus,t1.remarks as remarks
        from
        t_whs_order t1
        LEFT JOIN t_whs_user t2 on t1.user_id = t2.id
        LEFT JOIN t_whs_payment_log t3 on t1.id = t3.order_id
        <trim prefix="where" prefixOverrides="and">
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="orderCode != null and orderCode != ''">and t1.order_code like CONCAT('%', #{orderCode},'%')</if>
            <if test="orderStatus != null and orderStatus != ''">and t1.order_status = #{orderStatus}</if>
            <if test="payStatus != null and payStatus != ''">and t1.pay_status = #{payStatus}</if>
            <if test="settlementType != null and settlementType != ''">and t1.settlement_type = #{settlementType}</if>
            <if test="phone != null and phone != ''">and t2.phone  like CONCAT('%',  #{phone},'%')</if>
        </trim>
    </select>
</mapper>


