<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.order.mapper.OrderMapper">

    <!-- 查询订单信息 -->
    <select id="searchOrders"  parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
       select id,order_code orderCode,order_discount_fee orderDiscountFee,order_type orderType,pay_status payStatus
        ,order_status orderStatus,order_create_time createTime,order_total total,order_need_fee needPay,remarks,after_sale_time afterSaleTime
       from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userId != null ">and o.user_id=#{userId}</if>
            <if test="orderType != null ">and o.order_type=#{orderType}</if>
            <if test="payStatus != null ">and o.pay_status=#{payStatus}</if>
            <if test="orderStatus != null ">and o.order_status = #{orderStatus}</if>

        </trim>
    </select>

    <select id="searchAfterSaleOrders"  parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,order_discount_fee orderDiscountFee,order_type orderType,pay_status payStatus
        ,order_status orderStatus,order_create_time createTime,order_total total,order_need_fee needPay,remarks,after_sale_time afterSaleTime
        from t_whs_order o
        <trim prefix="where" prefixOverrides="and">
            <if test="userId != null ">and o.user_id=#{userId}</if>
            <if test="orderType != null ">and o.order_type=#{orderType}</if>
            <if test="payStatus != null ">and o.pay_status=#{payStatus}</if>
            <if test="orderStatus != null ">and o.order_status = #{orderStatus}</if>
        </trim>
        and DATE_SUB(CURDATE(),INTERVAL 30 DAY) &lt;= o.order_create_time
    </select>

    <select id="searchOrder"  parameterType="String" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,order_discount_fee orderDiscountFee,order_type orderType,pay_status payStatus
        ,order_status orderStatus,order_create_time createTime,order_total total,order_need_fee orderNeedFee,remarks,
        hd_status,delivery_time,delivery_fee,delivery_address
        from t_whs_order o where o.order_code = #{orderCode}
    </select>

    <select id="searchOrderGoods"  parameterType="long" resultType="com.lhiot.mall.wholesale.order.domain.OrderGoods">
        select t.id,g.goods_name goodsName,u.unit_name unit,t.standard_weight standardWeight,t.goods_price goodsPrice,t.quanity,g.goods_image goodsImage,s.hd_sku_id
        from t_whs_order_goods t
        LEFT JOIN t_whs_goods_standard s on t.goods_standard_id=s.id
        LEFT JOIN t_whs_goods g on g.id=s.goods_id
        LEFT JOIN t_whs_goods_unit u on u.unit_code=s.unit_code
        where t.order_id=#{orderId}
    </select>

    <select id="searchOutstandingAccountsOrder"  parameterType="String" resultType="Integer">
        select check_status from t_whs_debt_order do
        where do.order_ids LIKE concat('%',#{orderCode},'%')  ORDER BY do.create_time desc LIMIT 1
    </select>

    <select id="searchOrdersByOrderCodes" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        select id,order_code orderCode,order_discount_fee orderDiscountFee,order_type orderType,pay_status payStatus
        ,order_status orderStatus,order_create_time createTime,order_total total,order_need_fee orderNeedFee,remarks
        from t_whs_order where order_code in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <insert id="save" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_order (order_code,user_id,
                        salesman_id,order_total,order_create_time,order_status,order_coupon,order_discount_fee,order_need_fee,
                        hd_status,delivery_time,delivery_fee,remarks,order_type,pay_status,delivery_address,receive_time,hd_status,
                        delivery_time,delivery_fee.delivery_address
                        ) VALUES
          (#{orderCode},#{userId},
              #{salesmanId},#{orderTotal},#{orderCreateTime},#{orderStatus},#{orderCoupon},#{orderDiscountFee},#{orderNeedFee},
              #{hdStatus},#{deliveryTime},#{deliveryFee},#{remarks},#{orderType},#{payStatus},#{deliveryAddress},#{receiveTime},
              #{hdStatus},#{deliveryTime},#{deliveryFee},#{deliveryAddress}
          )
    </insert>

    <insert id="saveOrderGoods" parameterType="com.lhiot.mall.wholesale.order.domain.OrderGoods">
        insert into t_whs_order_goods (goods_standard_id,standard_weight,
        order_id,quanity,goods_price,payment_time,refund_status,discount_goods_price,user_id
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.goodsStandardId},#{item.standardWeight},#{item.orderId},#{item.quanity},#{item.goodsPrice},#{item.paymentTime},#{item.refundStatus},
            #{item.discountGoodsPrice},#{item.userId})
        </foreach>
    </insert>

    <!--依据订单编码和当前状态修改订单状态-->
    <update id="updateOrderStatusByCode" parameterType="com.lhiot.mall.wholesale.order.domain.OrderDetail">
        UPDATE t_whs_order set order_status=#{orderStatus} where order_status=#{currentOrderStaus} and order_code=#{orderCode}
    </update>
</mapper>