<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.pay.mapper.PaymentLogMapper">

    <insert id="insertPaymentLog" parameterType="com.lhiot.mall.wholesale.pay.domain.PaymentLog"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_payment_log (
                            order_id,
                            order_code,
                            user_id,
                            transaction_id,
                            refund_fee,
                            total_fee,
                            bank_type,
                            bank_name,
                            payment_from,
                            payment_step,
                            payment_type,
                            payment_time
                        ) VALUES (#{orderId},#{orderCode},#{userId},
                        #{transactionId},#{refundFee},#{totalFee},#{bankType},#{bankName},#{paymentFrom},#{paymentStep},
                        #{paymentType},#{paymentTime})
    </insert>

    <update id="updatePaymentLog" parameterType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        update t_whs_payment_log
        <set>
            <if test="transactionId!=null and transactionId!=''">
                transaction_id=#{transactionId},
            </if>
            <if test="totalFee!=null and totalFee!=0">
                total_fee=#{totalFee},
            </if>
            <if test="bankType!=null and bankType!=''">
                bank_type=#{bankType},
            </if>
            <if test="paymentStep!=null and paymentStep!=''">
                payment_step=#{paymentStep},
            </if>
            <if test="paymentTime!=null">
                payment_time=#{paymentTime},
            </if>
        </set>
        where order_code=#{orderCode}
    </update>

    <select id="getPaymentLog" parameterType="String" resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        select * from t_whs_payment_log where order_code=#{0}
    </select>


    <select id="getPaymentLogList" parameterType="java.util.ArrayList"
            resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        select * from t_whs_payment_log where 1=2
        <if test="list != null and list.size()>0">
            or order_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getBalanceRecord" parameterType="Integer" resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        (select payment_time time,payment_step type,total_fee fee from t_whs_payment_log where user_id=#{userId} and payment_step in(1,5))
         union all
        (select refund_time time,refund_type type,refund_fee fee from t_whs_refund_log where user_id=#{userId} and refund_type=1)
    </select>
</mapper>