<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.pay.mapper.PaymentLogMapper">

    <insert id="insertPaymentLog" parameterType="com.lhiot.mall.wholesale.pay.domain.PaymentLog"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_payment_log (
                            order_id,
                            order_code,
                            user_id,
                            transaction_id,
                            refund_fee,
                            total_fee,
                            bank_type,
                            bank_name,
                            payment_from,
                            payment_step,
                            payment_type,
                            payment_time
                        ) VALUES (#{orderId},#{orderCode},#{userId},
                        #{transactionId},#{refundFee},#{totalFee},#{bankType},#{bankName},#{paymentFrom},#{paymentStep},
                        #{paymentType},#{paymentTime})
    </insert>

    <update id="updatePaymentLog" parameterType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        update t_whs_payment_log
        <set>
            <if test="transactionId!=null and transactionId!=''">
                transaction_id=#{transactionId},
            </if>
            <if test="totalFee!=null and totalFee!=0">
                total_fee=#{totalFee},
            </if>
            <if test="refundFee!=null and refundFee!=0">
                refund_fee=#{refundFee},
            </if>
            <if test="bankType!=null and bankType!=''">
                bank_type=#{bankType},
            </if>
            <if test="paymentStep!=null and paymentStep!=''">
                payment_step=#{paymentStep},
            </if>
            <if test="paymentTime!=null">
                payment_time=#{paymentTime},
            </if>
        </set>
        where order_code=#{orderCode}
    </update>

    <select id="getPaymentLog" parameterType="String" resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        select * from t_whs_payment_log where order_code=#{0} limit 1
    </select>


    <select id="getPaymentLogList" parameterType="java.util.ArrayList"
            resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        select * from t_whs_payment_log
        <where>
            <if test="list != null and list.size()>0">
                order_code IN
                <foreach collection="list" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getBalanceRecord" parameterType="com.lhiot.mall.wholesale.user.domain.User" resultType="com.lhiot.mall.wholesale.pay.domain.Balance">
        (select payment_time time,payment_from type,total_fee fee from t_whs_payment_log where user_id=#{id} and payment_step='paid')
        union all
        (select refund_time time,refund_type type,refund_fee fee from t_whs_refund_log where user_id=#{id}) ORDER BY time desc
        <include refid="common.pager"></include>
    </select>

    <!-- 后台管理系统 计算订单实付总金额之和-->
    <select id="countFee" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
        select IFNULL(SUM(total_fee),0) as totalFee
        from t_whs_payment_log where order_code in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <!-- 查询已支付订单的支付记录 -->
    <select id="paylogs" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.pay.domain.PaymentLog">
		select * from t_whs_payment_log
		<trim prefix="where" prefixOverrides="and">
		    <if test="list != null and list.size()>0">
                order_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and payment_step = 'paid'
		</trim> 
	</select>
</mapper>