<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.pay.mapper.RefundLogMapper">

    <insert id="insertRefundLog" parameterType="com.lhiot.mall.wholesale.pay.domain.RefundLog"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_whs_refund_log (
                              transaction_id,
                              refund_fee,
                              refund_time,
                              refund_reason,
                              payment_log_id,
                              refund_type,
                              user_id
                        ) VALUES (#{transactionId},#{refundFee},#{refundTime},
                            #{refundReason},#{paymentLogId},#{refundType},#{userId})
    </insert>
</mapper>