<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.user.mapper.SalesUserMapper">

    <select id="selectRelation" parameterType="map" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        SELECT * FROM T_WHS_SALESUSER_RELATION
        <trim prefix="where" prefixOverrides="and">
            <if test="id !=null and id !=''">
                SALESMAN_ID = #{id}
            </if>
            <if test="check !=null and check !='' and check ==2">
                and check =2
            </if>
            <if test="check !=null and check !='' and check ==1">
                and check in(1,0)
            </if>
        </trim>
        <include refid="common.pager"/>
    </select>

    <select id="searchSalesUserCode" parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
        select * from t_whs_salesuser where invite_code=#{0}
    </select>

    <update id="updateUserSaleRelationship" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        UPDATE t_whs_salesuser_relation set  check = #{check}
        where user_id=#{userId}
    </update>

    <!-- 添加一条商户与业务员关联未审核的数据 -->
    <insert id="insertRelation" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        insert into t_whs_salesuser_relation(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="salesmanId != null and salesmanId != ''">salesman_id,</if>
            <if test="check != null and check != ''">check,</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="salesmanId != null and salesmanId != ''">#{salesmanId},</if>
            <if test="check != null and check != ''">#{check},</if>
        </trim>
        )
    </insert>
    
    <select id="isSeller" parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation" >
        select * from t_whs_salesuser_relation where user_id=#{id}
    </select>

    <select id="searchSaleRelationship" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        select * from t_whs_salesuser_relation
        <trim prefix="where" prefixOverrides="and">
            <if test="id !=null and id !=0">
                and id = #{id}
            </if>
            user_id
            <if test="userId !=null and userId !=0">
                and user_id =#{userId}
            </if>
            <if test="salesmanId !=null and salesmanId !=0">
                and salesman_id =#{salesmanId}
            </if>
            <if test="check !=null ">
                and check =#{check}
            </if>
        </trim>
    </select>

    <select id="searchShopInfo" parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.ShopResult">
        select u.id userId,u.shop_name,u.user_name,u.phone,u.register_time,u.address_detail from t_whs_salesuser s
        LEFT JOIN t_whs_salesuser_relation r on s.id=r.salesman_id
        LEFT JOIN t_whs_user u on u.id=r.user_id
       <!-- <trim prefix="where" prefixOverrides="and">-->
            and r.audit_status='agree'
            and s.id=#{salesId}
        <!--</trim>-->
    </select>



</mapper>