<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.user.mapper.SalesUserMapper">

    <select id="selectRelation" parameterType="map" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        SELECT * FROM T_WHS_SALESUSER_RELATION
        <trim prefix="where" prefixOverrides="and">
            <if test="id !=null and id !=''">
                SALESMAN_ID = #{id}
            </if>
            <if test="check !=null and check !='' and check =='no'">
                and audit_status = 'unaudited'
            </if>
            <if test="check !=null and check !='' and check =='yes'">
                and audit_status in('agree','reject')
            </if>
        </trim>
        <include refid="common.pager"/>
    </select>

    <select id="searchSalesUserByOpenid" parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
        select * from t_whs_salesuser where open_id=#{0}
    </select>

    <update id="updateUserSaleRelationship" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        UPDATE t_whs_salesuser_relation set  audit_status = #{auditStatus}
        where user_id=#{userId} and salesman_id=#{salesmanId}
    </update>

    <!-- 添加一条商户与业务员关联未审核的数据 -->
    <insert id="insertRelation" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        insert into t_whs_salesuser_relation(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="salesmanId != null and salesmanId != ''">salesman_id,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="salesmanId != null and salesmanId != ''">#{salesmanId},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
        </trim>
        )
    </insert>
    
    <select id="isSeller" parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation" >
        select * from t_whs_salesuser_relation where user_id=#{id}
    </select>

    <select id="searchSaleRelationship" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        select * from t_whs_salesuser_relation
        <trim prefix="where" prefixOverrides="and">
            <if test="id !=null and id !=0">
                and id = #{id}
            </if>
            <if test="userId !=null and userId !=0">
                and user_id =#{userId}
            </if>
            <if test="salesmanId !=null and salesmanId !=0">
                and salesman_id =#{salesmanId}
            </if>
            <if test="auditStatus !=null ">
                and audit_status =#{auditStatus}
            </if>
        </trim>
    </select>

    <select id="searchShopInfo" parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.ShopResult">
        select u.id userId,u.shop_name,u.user_name,u.phone,u.register_time,u.city,u.address_detail addressDetail from t_whs_salesuser s
        LEFT JOIN t_whs_salesuser_relation r on s.id=r.salesman_id
        LEFT JOIN t_whs_user u on u.id=r.user_id
        where r.audit_status='agree'
        and s.id=#{salesId}
    </select>

    <select id="login" parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
        select s.*,(select count(*) from t_whs_salesuser_relation where salesman_id=s.id and audit_status='unaudited') storeNum
        from t_whs_salesuser s where s.account=#{account}
    </select>


    <!--管理系统-->

    <!--新增业务员信息表-->
    <insert keyProperty="id" useGeneratedKeys="true" parameterType="com.lhiot.mall.wholesale.user.domain.SalesUser" id="create">
        insert into t_whs_salesuser(
        <trim suffixOverrides=","> id, open_id, union_id, salesman_name, salesman_phone, salesman_password, salesman_head_image, create_person, create_at, invite_code,account,sales_status, </trim>
        )VALUES (
        <trim suffixOverrides=","> #{id}, #{openId}, #{unionId}, #{salesmanName}, #{salesmanPhone}, #{salesmanPassword}, #{salesmanHeadImage}, #{createPerson}, now(), #{inviteCode}, #{account},#{salesStatus},</trim>
        )
    </insert>

    <!--修改业务员信息表-->
    <update parameterType="com.lhiot.mall.wholesale.user.domain.SalesUser" id="updateById">
        update t_whs_salesuser
        <set>
            <if test="id!=null"> id = #{id}, </if>
            <if test="openId!=null"> open_id = #{openId}, </if>
            <if test="unionId!=null"> union_id = #{unionId}, </if>
            <if test="salesmanName!=null"> salesman_name = #{salesmanName}, </if>
            <if test="salesmanPhone!=null"> salesman_phone = #{salesmanPhone}, </if>
            <if test="salesmanPassword!=null"> salesman_password = #{salesmanPassword}, </if>
            <if test="salesmanHeadImage!=null"> salesman_head_image = #{salesmanHeadImage}, </if>
            <if test="createPerson!=null"> create_person = #{createPerson}, </if>
            <if test="createAt!=null"> create_at = #{createAt}, </if>
            <if test="inviteCode!=null"> invite_code = #{inviteCode}, </if>
            <if test="account!=null"> account = #{account}, </if>
            <if test="salesStatus!=null"> sales_status = #{salesStatus} </if>
        </set>
        where id=#{id}
    </update>

    <!--依据编号删除业务员信息表-->
    <delete parameterType="java.util.List" id="deleteByIds">
        delete from t_whs_salesuser where id in
        <foreach close=")" separator="," open="(" item="id" collection="list"> #{id} </foreach>
    </delete>

    <!--根据userId查询关联关系-->
    <select id="selectUserRelation" parameterType="Long" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserRelation">
        select * from t_whs_salesuser_relation where user_id=#{userId}
    </select>

    <!--审核不通过时候删除多余的关联数据-->
    <delete parameterType="Long" id="deleteRelation">
        delete from t_whs_salesuser_relation where id = #{id}
    </delete>

    <!--查询业务员信息表-->
    <select parameterType="com.lhiot.mall.wholesale.user.domain.SalesUser" id="list" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
        select * from t_whs_salesuser
        <where>
            <if test="id!=0 and id!=null"> and id = #{id} </if>
            <if test="openId!=null and openId!='null' and openId!=''"> and open_id = #{openId} </if>
            <if test="unionId!=null and unionId!='null' and unionId!=''"> and union_id = #{unionId} </if>
            <if test="salesmanName!=null and salesmanName!='null' and salesmanName!=''"> and salesman_name = #{salesmanName} </if>
            <if test="salesmanPhone!=null and salesmanPhone!='null' and salesmanPhone!=''"> and salesman_phone = #{salesmanPhone} </if>
            <if test="salesmanPassword!=null and salesmanPassword!='null' and salesmanPassword!=''"> and salesman_password = #{salesmanPassword} </if>
            <if test="salesmanHeadImage!=null and salesmanHeadImage!='null' and salesmanHeadImage!=''"> and salesman_head_image = #{salesmanHeadImage} </if>
            <if test="createPerson!=0 and createPerson!=null"> and create_person = #{createPerson} </if>
            <if test="createAt!=null and createAt!='null' and createAt!=''"> and create_at = #{createAt} </if>
            <if test="inviteCode!=null and inviteCode!='null' and inviteCode!=''"> and invite_code = #{inviteCode} </if>
            <if test="account!=null and account!='null' and account!=''"> and account = #{account} </if>
            <if test="salesStatus!=null and salesStatus!='null' and salesStatus!=''"> and sales_status = #{salesStatus} </if>
        </where>

    </select>

    <!--分页查询业务员信息表-->
    <select parameterType="map" id="page" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
      select * from t_whs_salesuser
        <where>
            <if test="id!=0 and id!=null"> and id = #{id} </if>
            <if test="openId!=null and openId!='null' and openId!=''"> and open_id = #{openId} </if>
            <if test="unionId!=null and unionId!='null' and unionId!=''"> and union_id = #{unionId} </if>
            <if test="salesmanName!=null and salesmanName!='null' and salesmanName!=''"> and salesman_name like CONCAT('%',#{salesmanName},'%') </if>
            <if test="salesmanPhone!=null and salesmanPhone!='null' and salesmanPhone!=''"> and salesman_phone like CONCAT('%',#{salesmanPhone},'%') </if>
            <if test="salesmanPassword!=null and salesmanPassword!='null' and salesmanPassword!=''"> and salesman_password = #{salesmanPassword} </if>
            <if test="salesmanHeadImage!=null and salesmanHeadImage!='null' and salesmanHeadImage!=''"> and salesman_head_image = #{salesmanHeadImage} </if>
            <if test="createPerson!=0 and createPerson!=null"> and create_person = #{createPerson} </if>
            <if test="createAt!=null and createAt!='null' and createAt!=''"> and create_at = #{createAt} </if>
            <if test="inviteCode!=null and inviteCode!='null' and inviteCode!=''"> and invite_code = #{inviteCode} </if>
            <if test="account!=null and account!='null' and account!=''"> and account = #{account} </if>
            <if test="salesStatus!=null and salesStatus!='null' and salesStatus!=''"> and sales_status = #{salesStatus} </if>
        </where>
        <include refid="common.pager"/>
    </select>

    <!--分页查询业务员信息表-->
    <select parameterType="map" id="pageCount" resultType="java.lang.Integer">
        select count(id) from t_whs_salesuser
        <where>
            <if test="id!=0 and id!=null"> and id = #{id} </if>
            <if test="openId!=null and openId!='null' and openId!=''"> and open_id = #{openId} </if>
            <if test="unionId!=null and unionId!='null' and unionId!=''"> and union_id = #{unionId} </if>
            <if test="salesmanName!=null and salesmanName!='null' and salesmanName!=''"> and salesman_name like CONCAT('%',#{salesmanName},'%') </if>
            <if test="salesmanPhone!=null and salesmanPhone!='null' and salesmanPhone!=''"> and salesman_phone like CONCAT('%',#{salesmanPhone},'%') </if>
            <if test="salesmanPassword!=null and salesmanPassword!='null' and salesmanPassword!=''"> and salesman_password = #{salesmanPassword} </if>
            <if test="salesmanHeadImage!=null and salesmanHeadImage!='null' and salesmanHeadImage!=''"> and salesman_head_image = #{salesmanHeadImage} </if>
            <if test="createPerson!=0 and createPerson!=null"> and create_person = #{createPerson} </if>
            <if test="createAt!=null and createAt!='null' and createAt!=''"> and create_at = #{createAt} </if>
            <if test="inviteCode!=null and inviteCode!='null' and inviteCode!=''"> and invite_code = #{inviteCode} </if>
            <if test="account!=null and account!='null' and account!=''"> and account = #{account} </if>
            <if test="salesStatus!=null and salesStatus!='null' and salesStatus!=''"> and sales_status = #{salesStatus} </if>
        </where>
    </select>

    <select parameterType="Long" id="findById" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
     select s.*,(select count(*) from t_whs_salesuser_relation where salesman_id=s.id and audit_status='unaudited') storeNum
      from t_whs_salesuser s where s.id= #{0}
    </select>

    <select parameterType="String" id="findCode" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
        select * from t_whs_salesuser where invite_code=#{inviteCode}
    </select>

	<!-- lynn 查询业务员用作下拉 -->
	<select id="salesUsers" resultType="com.lhiot.mall.wholesale.user.domain.SalesUser">
		select * from t_whs_salesuser
	</select>
    <!--分页查询业务员业绩信息-->
    <select parameterType="map" id="pageSalesUserPerformance" resultType="com.lhiot.mall.wholesale.user.domain.SalesUserPerformance">
        select * from t_whs_salesuser
        <where>
            <if test="id!=0 and id!=null"> and id = #{id} </if>
            <if test="openId!=null and openId!='null' and openId!=''"> and open_id = #{openId} </if>
            <if test="unionId!=null and unionId!='null' and unionId!=''"> and union_id = #{unionId} </if>
            <if test="salesmanName!=null and salesmanName!='null' and salesmanName!=''"> and salesman_name like CONCAT('%',#{salesmanName},'%') </if>
            <if test="salesmanPhone!=null and salesmanPhone!='null' and salesmanPhone!=''"> and salesman_phone like CONCAT('%',#{salesmanPhone},'%') </if>
            <if test="salesmanPassword!=null and salesmanPassword!='null' and salesmanPassword!=''"> and salesman_password = #{salesmanPassword} </if>
            <if test="salesmanHeadImage!=null and salesmanHeadImage!='null' and salesmanHeadImage!=''"> and salesman_head_image = #{salesmanHeadImage} </if>
            <if test="createPerson!=0 and createPerson!=null"> and create_person = #{createPerson} </if>
            <if test="createAt!=null and createAt!='null' and createAt!=''"> and create_at = #{createAt} </if>
            <if test="inviteCode!=null and inviteCode!='null' and inviteCode!=''"> and invite_code = #{inviteCode} </if>
            <if test="account!=null and account!='null' and account!=''"> and account = #{account} </if>
            <if test="salesStatus!=null and salesStatus!='null' and salesStatus!=''"> and sales_status = #{salesStatus} </if>
        </where>
        <include refid="common.pager"/>
    </select>

    <select parameterType="map" id="pageCountSalesUserPerformance" resultType="java.lang.Integer">
        select count(1) from t_whs_salesuser
        <where>
            <if test="id!=0 and id!=null"> and id = #{id} </if>
            <if test="openId!=null and openId!='null' and openId!=''"> and open_id = #{openId} </if>
            <if test="unionId!=null and unionId!='null' and unionId!=''"> and union_id = #{unionId} </if>
            <if test="salesmanName!=null and salesmanName!='null' and salesmanName!=''"> and salesman_name like CONCAT('%',#{salesmanName},'%') </if>
            <if test="salesmanPhone!=null and salesmanPhone!='null' and salesmanPhone!=''"> and salesman_phone like CONCAT('%',#{salesmanPhone},'%') </if>
            <if test="salesmanPassword!=null and salesmanPassword!='null' and salesmanPassword!=''"> and salesman_password = #{salesmanPassword} </if>
            <if test="salesmanHeadImage!=null and salesmanHeadImage!='null' and salesmanHeadImage!=''"> and salesman_head_image = #{salesmanHeadImage} </if>
            <if test="createPerson!=0 and createPerson!=null"> and create_person = #{createPerson} </if>
            <if test="createAt!=null and createAt!='null' and createAt!=''"> and create_at = #{createAt} </if>
            <if test="inviteCode!=null and inviteCode!='null' and inviteCode!=''"> and invite_code = #{inviteCode} </if>
            <if test="account!=null and account!='null' and account!=''"> and account = #{account} </if>
            <if test="salesStatus!=null and salesStatus!='null' and salesStatus!=''"> and sales_status = #{salesStatus} </if>
        </where>
    </select>


    <update id="updateSalesmanIdBySalesmanId" parameterType="map">
        UPDATE t_whs_salesuser_relation set  salesman_id = #{salesmanId} where salesman_id = #{oldSalesmanId}
    </update>


    <update id="updateSalesmanIdByUserId" parameterType="map">
        UPDATE t_whs_salesuser_relation set  salesman_id = #{salesmanId} where user_id = #{userId}
    </update>

    <update id="updateRe" parameterType="map">
        UPDATE t_whs_salesuser_relation set  salesman_id = #{salesmanId}, audit_status= #{auditStatus} where user_id = #{userId}
    </update>
</mapper>