<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.user.mapper.UserMapper">

    <sql id="userInfo">
        id,phone,shop_name,user_name,city,address_detail,register_time,balance,profile_photo,user_status
    </sql>

    <select id="search"  parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
        SELECT ID,SHOP_NAME,USER_NAME,PHONE,REGISTER_TIME,CITY,ADDRESS_DETAIL FROM T_WHS_USER WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="searchUserByOpenid"  parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.User">
        SELECT <include refid="userInfo" /> FROM T_WHS_USER WHERE open_id=#{0}
    </select>

    <!--微信用户关注后保存-->
    <insert id="save" parameterType="com.lhiot.mall.wholesale.user.domain.User" useGeneratedKeys="true">
        INSERT INTO t_whs_user (sex,city,register_time,nickname,open_id,union_id,user_status,
                        profile_photo,address_detail
                ) VALUES (#{sex},#{city},#{registerTime},#{nickname},#{openid},#{unionid},'uncertified',
                      #{profilePhoto},#{addressDetail})
    </insert>

    <update id="updateUserStatus" parameterType="long">
        UPDATE t_whs_user SET user_status = 'certified'
        WHERE id = #{id}
    </update>

    <select id="user"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.User">
        select <include refid="userInfo" /> from t_whs_user where id=#{0}
    </select>

    <!-- 用户欠款金额-->
    <select id="debtFee"  parameterType="long" resultType="Integer">
        select IFNULL(SUM(payable_fee),0) debtFee from t_whs_order
        where user_id=#{0} and order_status in
        ('undelivery','delivery','received','unrefunded','refundfailed')
        and settlement_type='cod' and pay_status='unpaid'
    </select>

    <update id="updateUser" parameterType="com.lhiot.mall.wholesale.user.domain.User">
        UPDATE t_whs_user
        <trim prefix="set" prefixOverrides=",">
            <if test="shopName !=null and shopName !=''">
                ,shop_name=#{shopName}
            </if>
            <if test="userName !=null and userName !=''">
                ,user_name=#{userName}
            </if>
            <if test="city !=null and city !=''">
                ,city=#{city}
            </if>
            <if test="addressDetail !=null and addressDetail !=''">
                ,address_detail=#{addressDetail}
            </if>
            <if test="phone !=null and phone !=''">
                ,phone=#{phone}
            </if>
            <if test="registerTime !=null">
                ,register_time=#{registerTime}
            </if>
            <if test="userStatus !=null and userStatus !=''">
                ,user_status=#{userStatus}
            </if>
        </trim>
        where id=#{id}
    </update>

    <update id="updateBalance" parameterType="com.lhiot.mall.wholesale.user.domain.User">
        UPDATE t_whs_user
        <trim prefix="set" prefixOverrides=",">
            <if test="balance !=null and balance !=0">
                ,balance=balance+#{balance}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 新增地址 -->
    <insert id="insertAddress" parameterType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        insert into t_whs_user_address(
        <trim suffixOverrides=",">
            <if test="sex != null and sex != ''">sex,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="addressArea != null and addressArea != ''">address_area,</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="contactsName != null and contactsName != ''">contacts_name,</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="addressArea != null and addressArea != ''">#{addressArea},</if>
            <if test="addressDetail != null and addressDetail != ''">#{addressDetail},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="contactsName != null and contactsName != ''">#{userId},</if>
        </trim>
        )
    </insert>

    <!-- 修改地址 -->
    <update id="updateAddress" parameterType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        UPDATE t_whs_user_address
        <trim prefix="set" prefixOverrides=",">
            <if test="sex !=null and sex !=''">
                ,sex=#{sex}
            </if>
            <if test="phone !=null and phone !=''">
                ,phone=#{phone}
            </if>
            <if test="addressArea !=null and addressArea !=''">
                ,address_area=#{addressArea}
            </if>
            <if test="addressDetail !=null and addressDetail !=''">
                ,address_detail=#{addressDetail}
            </if>
            <if test="isDefault !=null">
                ,is_default=#{isDefault}
            </if>
            <if test="userId !=null and userId !=''">
                ,user_id=#{userId}
            </if>
            <if test="contactsName !=null and contactsName !=''">
                ,contacts_name=#{contactsName}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 查询当前用户所有地址 -->
    <select id="searchAddressList"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        select a.* from t_whs_user_address a
        where a.user_id=#{userId} ORDER BY a.id desc
    </select>

    <select id="searchAddressListYes"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        select a.* from t_whs_user_address a
        where a.user_id=#{userId} and is_default='yes'
    </select>

    <select id="searchAddressListNo"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        select a.* from t_whs_user_address a
        where a.user_id=#{userId} and is_default='no' ORDER BY a.id desc
    </select>

    <!-- 查询地址 -->
    <select id="userAddress"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        select a.id,a.sex,a.phone,a.address_area,a.address_detail,a.user_id,a.contacts_name from t_whs_user_address a
        where a.id=#{id}
    </select>

    <!-- 删除地址 -->
    <delete id="deleteAddress" parameterType="long">
        DELETE FROM t_whs_user_address WHERE id = #{0}
    </delete>

    <update id="updateDefaultAddress" parameterType="long">
        UPDATE t_whs_user_address SET is_default = 'no'
        WHERE is_default = 'yes' and user_id = #{0}
    </update>


    <!-- 后台管理 根据用户手机号或用户名分页查询用户信息 -->
    <select id="searchByPhoneOrName" parameterType="com.lhiot.mall.wholesale.user.domain.User"
            resultType="com.lhiot.mall.wholesale.user.domain.User">
        select <include refid="userInfo"/>
        from t_whs_user
        <trim prefix="where" prefixOverrides="and">
            <if test="namePhone != null and namePhone != ''">and user_name like CONCAT('%',#{namePhone},'%') or phone like CONCAT('%',#{namePhone},'%')</if>
            <if test="phone != null and phone != ''">and  phone like CONCAT('%',#{phone},'%')</if>
            <if test="userName != null and userName != ''">and user_name like CONCAT('%',#{userName},'%') </if>
            <if test="shopName != null and shopName != ''">and shop_name like CONCAT('%',#{shopName},'%') </if>
        </trim>
    </select>
	
	<!-- 批量发券 -->
	<select id="searchByPhones" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where phone in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <select id="searchByIds" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
        select * from t_whs_user
        where id in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

	<!-- 根据手机号模糊查询用户信息 -->
	<select id="fuzzySearchByPhone" parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where phone like concat('%',#{0},'%')
	</select>
	
	<!-- 根据手机号模糊查询用户信息 -->
	<select id="searchInbatch" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <select id="getBalanceRecord" parameterType="Integer" resultType="com.lhiot.mall.wholesale.pay.domain.Balance">
        (select payment_time time,payment_from type,total_fee fee from t_whs_payment_log where user_id=#{id} )
          union all
        (select refund_time time,refund_type type,refund_fee fee from t_whs_refund_log where user_id=#{id})
    </select>
    
    <!--lynn 分页查询用户数量 -->
    <select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam"
    	resultType="Integer">
    	SELECT count(u.id) as count
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as thisMonth
			FROM t_whs_order
			WHERE order_status = 'received' AND DATE_FORMAT(NOW(),'%Y-%m') = DATE_FORMAT(create_time,'%Y-%m')
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as lastMonth 
			FROM t_whs_order
			WHERE order_status = 'received' 
			AND date_format(create_time,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m') 
			GROUP BY user_id 
		) as t2 ON u.id = t2.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as accumulative
			FROM t_whs_order
			WHERE order_status = 'received'
			GROUP BY user_id 
		) as t3 ON u.id = t3.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t4 ON u.id = t4.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and u.register_time &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and u.register_time &lt;=#{endTime}</if>
		</trim>
    </select>
    
    <!--lynn 分页查询用户信息 -->
    <select id="pageQuery" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam"
        resultType="com.lhiot.mall.wholesale.user.domain.UserResult">
        SELECT u.id,u.phone,u.shop_name,u.user_name,u.register_time,u.user_status ,s.salesman_name,t1.thisMonth,t2.lastMonth,
		t3.accumulative,t4.arrears,t5.lastCreateTime
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as thisMonth
			FROM t_whs_order
			WHERE order_status = 'received' AND DATE_FORMAT(NOW(),'%Y-%m') = DATE_FORMAT(create_time,'%Y-%m')
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as lastMonth 
			FROM t_whs_order
			WHERE order_status = 'received' 
			AND date_format(create_time,'%Y-%m')=date_format(DATE_SUB(NOW(), INTERVAL 1 MONTH),'%Y-%m') 
			GROUP BY user_id 
		) as t2 ON u.id = t2.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as accumulative
			FROM t_whs_order
			WHERE order_status = 'received'
			GROUP BY user_id 
		) as t3 ON u.id = t3.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t4 ON u.id = t4.user_id
		LEFT JOIN(
			SELECT user_id, MAX(create_time) as lastCreateTime
			FROM t_whs_order
			WHERE order_status = 'received'
			GROUP BY user_id 
		) as t5 on u.id = t5.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and date_format(u.register_time,'%Y-%m-%d) &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and date_format(u.register_time,'%Y-%m-%d) &lt;=#{endTime}</if>
		</trim>
		<include refid="common.pager"/>
    </select>

    <!-- 后台管理 分页查询-门店业绩查询 -->
    <select id="pagePerformanceUserQuery" parameterType="com.lhiot.mall.wholesale.user.domain.gridparam.UserPerformanceGridParam"
            resultType="com.lhiot.mall.wholesale.user.domain.SalesUserPerformanceDetail">
        select  t1.id,phone,shop_name,user_name,city,address_detail address,register_time,balance,profile_photo,user_status
        from t_whs_user t1 left join t_whs_salesuser_relation t2 on t1.id = t2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="userName != null and userName != ''">and t1.user_name = #{userName}</if>
            <if test="salesUserId != null and salesUserId != ''">and t2.salesman_id = #{salesUserId}</if>
            <if test="phone != null and phone != ''">and t1.phone = #{phone}</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
        <include refid="common.pager"></include>
    </select>
    <!-- 后台管理 分页查询-门店业绩查询 -->
    <select id="performanceUserQueryCount" parameterType="com.lhiot.mall.wholesale.user.domain.gridparam.UserPerformanceGridParam"
            resultType="int">
        select count(t1.id)
        from t_whs_user t1 left join t_whs_salesuser_relation t2 on t1.id = t2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="userName != null and userName != ''">and t1.user_name = #{userName}</if>
            <if test="salesUserId != null and salesUserId != ''">and t2.salesman_id = #{salesUserId}</if>
            <if test="phone != null and phone != ''">and t1.phone = #{phone}</if>
            <if test="userIds != null and userIds.size()>0">
                and t1.id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
    </select>


    <!-- 后台管理 分页查询-门店业绩查询 -->
    <select id="queryUserId" parameterType="map"
            resultType="Long">
        select  t1.id
        from t_whs_user t1 left join t_whs_salesuser_relation t2 on t1.id = t2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="userName != null and userName != '' and userName != 'null'">and t1.user_name = #{userName}</if>
            <if test="salesUserId != null and salesUserId != '' and salesUserId != 'null'">and t2.salesman_id = #{salesUserId}</if>
            <if test="phone != null and phone != '' and phone != 'null'">and t1.phone = #{phone}</if>
        </trim>
    </select>
	<!-- lynn 用户数据导出 -->
	<select id="exportData" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam" 
		resultType="com.lhiot.mall.wholesale.user.domain.UserResult">
		SELECT u.id,u.phone,u.shop_name,u.user_name,u.register_time,s.salesman_name,t1.thisMonth,t2.lastMonth,
		t3.accumulative,t4.arrears,t5.lastCreateTime,
		CASE u.user_status WHEN 'uncertified' THEN '未认证'
		WHEN 'unaudited' THEN '认证中待审核'
		WHEN 'certified' THEN '已认证'
		END AS user_status
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as thisMonth
			FROM t_whs_order
			WHERE order_status = 'received' AND DATE_FORMAT(NOW(),'%Y-%m') = DATE_FORMAT(create_time,'%Y-%m')
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as lastMonth 
			FROM t_whs_order
			WHERE order_status = 'received' 
			AND date_format(create_time,'%Y-%m')=date_format(DATE_SUB(NOW(), INTERVAL 1 MONTH),'%Y-%m') 
			GROUP BY user_id 
		) as t2 ON u.id = t2.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as accumulative
			FROM t_whs_order
			WHERE order_status = 'received'
			GROUP BY user_id 
		) as t3 ON u.id = t3.user_id
		LEFT JOIN (
			SELECT user_id, CONCAT('￥',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR),'/',CONVERT(COUNT(id),CHAR),'次') as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t4 ON u.id = t4.user_id
		LEFT JOIN(
			SELECT user_id, MAX(create_time) as lastCreateTime
			FROM t_whs_order
			WHERE order_status = 'received'
			GROUP BY user_id 
		) as t5 on u.id = t5.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and date_format(u.register_time,'%Y-%m-%d) &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and date_format(u.register_time,'%Y-%m-%d) &lt;=#{endTime}</if>
			<if test="beginTime == null and beginTime == '' and endTime == null and endTime == ''">
				and date_format(u.register_time,'%Y-%m') = date_format(now(),'%Y-%m')
			</if>
		</trim>
	</select>
	
	<!-- lynn 会员查询 分页数量 -->
	<select id="pageQueryUserCount" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam"
		resultType="Integer">
		SELECT count(u.id)
		FROM t_whs_user u
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and date_format(u.register_time,'%Y-%m-%d) &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and date_format(u.register_time,'%Y-%m-%d) &lt;=#{endTime}</if>
		</trim>
	</select>
	
	<!-- lynn 会员查询 分页查询 -->
	<select id="pageQueryUser" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam"
		resultType="com.lhiot.mall.wholesale.user.domain.UserResult">
		SELECT  
		u.id,u.sex,u.phone,u.city,u.register_time,u.nickname,u.open_id,CONCAT('￥-',CONVERT(FORMAT(u.balance/100.0,2),CHAR)) as balance,
		u.union_id,u.user_status,u.profile_photo,u.shop_name,u.user_name,u.address_detail,
		t1.arrears
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥-',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR)) as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and date_format(u.register_time,'%Y-%m-%d) &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and date_format(u.register_time,'%Y-%m-%d) &lt;=#{endTime}</if>
		</trim>
		<include refid="common.pager"/>
	</select>
	
	<!-- lynn 会员查询 用户导出 -->
	<select id="exportUsers" parameterType="com.lhiot.mall.wholesale.user.domain.UserGridParam"
		resultType="com.lhiot.mall.wholesale.user.domain.UserResult">
		SELECT  
		u.id,u.phone,u.city,u.register_time,u.nickname,u.open_id,CONCAT('￥-',CONVERT(FORMAT(u.balance/100.0,2),CHAR)) as balance,
		u.union_id,u.profile_photo,u.shop_name,u.user_name,u.address_detail,
		t1.arrears,
		CASE u.sex WHEN 'uncertified' THEN '未认证'
		WHEN 'female' THEN '女'
		WHEN 'male' THEN '男'
		WHEN 'unknown' THEN '未知'
		END AS sex,
		CASE u.user_status WHEN 'uncertified' THEN '未认证'
		WHEN 'unaudited' THEN '认证中待审核'
		WHEN 'certified' THEN '已认证'
		END AS user_status
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥-',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR)) as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		<trim prefix="where" prefixOverrides="and">
			<if test="userName != null and userName != ''">and u.user_name like concat('%',#{userName},'%')</if>
			<if test="phone != null and phone != ''">and u.phone like concat('%',#{phone},'%')</if>
			<if test="saleId != null and saleId != ''">and s.id = #{saleId}</if>
			<if test="beginTime != null and beginTime != ''">and date_format(u.register_time,'%Y-%m-%d) &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">and date_format(u.register_time,'%Y-%m-%d) &lt;=#{endTime}</if>
			<if test="beginTime == null and beginTime == '' and endTime == null and endTime == ''">
				and date_format(u.register_time,'%Y-%m') = date_format(now(),'%Y-%m')
			</if>
		</trim>
	</select>
	
	<!-- lynn 后台管理 会员详情-->
	<select id="searchById" parameterType="Long"
		resultType="com.lhiot.mall.wholesale.user.domain.UserResult">
		SELECT  
		u.id,u.sex,u.phone,u.city,u.register_time,u.nickname,u.open_id,CONCAT('￥-',CONVERT(FORMAT(u.balance/100.0,2),CHAR)) as balance,
		u.union_id,u.user_status,u.profile_photo,u.shop_name,u.user_name,u.address_detail,
		t1.arrears
		FROM t_whs_user u
		LEFT JOIN (
			SELECT user_id, CONCAT('￥-',CONVERT(FORMAT(SUM(payable_fee)/100.0,2),CHAR)) as arrears
			FROM t_whs_order
			WHERE settlement_type = 'offline' and pay_status = 'unpaid'
			GROUP BY user_id 
		) as t1 ON u.id = t1.user_id
		LEFT JOIN t_whs_salesuser_relation sr ON u.id = sr.user_id
		LEFT JOIN t_whs_salesuser s ON sr.salesman_id = s.id
		where u.id = #{0}
	</select>
</mapper>