<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.user.mapper.UserMapper">

    <sql id="userInfo">
        id,phone,shop_name,user_name,city,address_detail,register_time,balance
    </sql>

    <select id="search"  parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
        SELECT ID,SHOP_NAME,USER_NAME,PHONE,REGISTER_TIME,CITY,ADDRESS_DETAIL FROM T_WHS_USER WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateUserStatus" parameterType="long">
        UPDATE t_whs_user SET user_status = 1
        WHERE id = #{id}
    </update>

    <select id="user"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.User">
        select <include refid="userInfo" /> from t_whs_user where id=#{0}
    </select>

    <update id="updateUser" parameterType="com.lhiot.mall.wholesale.user.domain.User">
        UPDATE t_whs_user
        <trim prefix="set" prefixOverrides=",">
            <if test="shopName !=null and shopName !=''">
                ,shop_name=#{shopName}
            </if>
            <if test="userName !=null and userName !=''">
                ,user_name=#{userName}
            </if>
            <if test="city !=null and city !=''">
                ,city=#{city}
            </if>
            <if test="addressDetail !=null and addressDetail !=''">
                ,address_detail=#{addressDetail}
            </if>
            <if test="phone !=null and phone !=''">
                ,phone=#{phone}
            </if>
            <if test="registerTime !=null and registerTime !=''">
                ,register_time=#{registerTime}
            </if>
            <if test="balance !=null and balance !=0">
                ,balance=balance+#{balance}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 新增地址 -->
    <insert id="insertAddress" parameterType="com.lhiot.mall.wholesale.user.domain.UserAddress" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_whs_user_address(
        <trim suffixOverrides=",">
            <if test="sex != null and sex != ''">sex,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="addressArea != null and addressArea != ''">address_area,</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="userId != null and userId != ''">user_id,</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="addressArea != null and addressArea != ''">#{addressArea},</if>
            <if test="addressDetail != null and addressDetail != ''">#{addressDetail},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
        </trim>
        )
    </insert>

    <!-- 修改地址 -->
    <update id="updateAddress" parameterType="com.lhiot.mall.wholesale.user.domain.UserAddress">
        UPDATE t_whs_user_address
        <trim prefix="set" prefixOverrides=",">
            <if test="sex !=null and sex !=''">
                ,sex=#{sex}
            </if>
            <if test="phone !=null and phone !=''">
                ,phone=#{phone}
            </if>
            <if test="addressArea !=null and addressArea !=''">
                ,address_area=#{addressArea}
            </if>
            <if test="addressDetail !=null and addressDetail !=''">
                ,address_detail=#{addressDetail}
            </if>
            <if test="isDefault !=null">
                ,is_default=#{isDefault}
            </if>
            <if test="userId !=null and userId !=''">
                ,user_id=#{userId}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 查询当前用户所有地址 -->
    <select id="searchAddressList"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
       select * from t_whs_user_address where user_id=#{userId}
    </select>

    <!-- 查询地址 -->
    <select id="userAddress"  parameterType="long" resultType="com.lhiot.mall.wholesale.user.domain.UserAddress">
       select * from t_whs_user_address where id=#{id}
    </select>

    <!-- 删除地址 -->
    <delete id="deleteAddress" parameterType="long">
        DELETE FROM t_whs_user_address WHERE id = #{0}
    </delete>

    <update id="updateDefaultAddress" parameterType="long">
        UPDATE t_whs_user_address SET is_default = 1
        WHERE is_default = 0 and user_id = #{0}
    </update>


    <!-- 后台管理 根据用户手机号或用户名分页查询用户信息 -->
    <select id="searchByPhoneOrName" parameterType="com.lhiot.mall.wholesale.user.domain.User"
            resultType="com.lhiot.mall.wholesale.user.domain.User">
        select <include refid="userInfo"/>
        from t_whs_user
        <trim prefix="where" prefixOverrides="and">
            <if test="namePhone != null and namePhone != ''">and user_name like CONCAT('%',#{namePhone},'%') or phone like CONCAT('%',#{namePhone},'%')</if>
            <if test="phone != null and phone != ''">and  phone like CONCAT('%',#{phone},'%')</if>
            <if test="userName != null and userName != ''">and user_name like CONCAT('%',#{userName},'%') </if>
            <if test="shopName != null and shopName != ''">and shop_name like CONCAT('%',#{shopName},'%') </if>
        </trim>
    </select>
	
	<!-- 批量发券 -->
	<select id="searchByPhones" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where phone in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <select id="searchByIds" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
        select * from t_whs_user
        where id in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

	<!-- 根据手机号模糊查询用户信息 -->
	<select id="fuzzySearchByPhone" parameterType="String" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where phone like concat('%',#{0},'%')
	</select>
	
	<!-- 根据手机号模糊查询用户信息 -->
	<select id="searchInbatch" parameterType="java.util.List" resultType="com.lhiot.mall.wholesale.user.domain.User">
		select * from t_whs_user
		where id in
		<foreach collection="list" item = "item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>