<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.aftersale.mapper.OrderRefundApplicationMapper">

    <sql id="orderColumn">
        t1.id as id,t1.order_code as orderCode,t1.user_id as userId,t1.salesman_id as salesmanId,t1.total_fee as totalFee,
        DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,t1.order_status as orderStatus,t1.order_coupon as orderCoupon,t1.discount_fee as discountFee,
        t1.payable_fee as payableFee,t1.hd_status as hdStatus,DATE_FORMAT(t1.delivery_time,'%Y-%m-%d %H:%i:%s') as deliveryTime,t1.delivery_fee as deliveryFee,
        t1.remarks as remarks,t1.settlement_type as settlementType,t1.pay_status as payStatus,t1.delivery_address as deliveryAddress,
        DATE_FORMAT(t1.receive_time,'%Y-%m-%d %H:%i:%s') as receiveTime,DATE_FORMAT(t1.after_sale_time,'%Y-%m-%d %H:%i:%s') as afterSale_Time
    </sql>

    <insert id="create" parameterType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication">
        insert into t_whs_order_refund_application(
        <trim suffixOverrides=",">
            <if test="applicationType != null and applicationType != ''">application_type,</if>
            <if test="existProblem != null and existProblem != ''">exist_problem,</if>
            <if test="otherProblem != null and otherProblem != ''">other_problem,</if>
            <if test="refundEvidence != null and refundEvidence != ''">refund_evidence,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
            <if test="orderDiscountFee != null and orderDiscountFee != ''">order_discount_fee,</if>
            <if test="deliveryFee != null ">delivery_fee,</if>
            <if test="comments != null and comments != ''">comments,</if>
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="userId != null and userId!=0">user_id,</if>
            <if test="contactsPhone != null ">contacts_phone,</if>
        </trim>
        )VALUES (
        <trim suffixOverrides=",">
            <if test="applicationType != null and applicationType != ''">#{applicationType},</if>
            <if test="existProblem != null and existProblem != ''">#{existProblem},</if>
            <if test="otherProblem != null and otherProblem != ''">#{otherProblem},</if>
            <if test="refundEvidence != null and refundEvidence != ''">#{refundEvidence},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
            <if test="orderDiscountFee != null ">#{orderDiscountFee},</if>
            <if test="deliveryFee != null ">#{deliveryFee},</if>
            <if test="comments != null and comments != ''">#{comments},</if>
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="contactsPhone != null ">#{contactsPhone},</if>
        </trim>
        )
    </insert>

   <!-- <update id="updateById" parameterType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication">
        UPDATE t_whs_order_refund_application
        <set>
          <if test="auditStatus!=null and auditStatus!=''">
              audit_status=#{auditStatus},
          </if>
            <if test="orderDiscountFee!=null and orderDiscountFee!=''">
                order_discount_fee=#{orderDiscountFee},
            </if>
            <if test="deliveryFee!=null and deliveryFee!=''">
                delivery_fee=#{deliveryFee},
            </if>
            <if test="comments!=null and comments!=''">
                comments=#{comments},
            </if>
        </set>
        where id=#{id}
    </update>-->

    <select id="orderRefundApplicationList" parameterType="java.lang.Long"
            resultType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication">
        select application_type,exist_problem,other_problem,refund_evidence,audit_status,
        order_discount_fee,delivery_fee,comments,order_id,user_id
        from t_whs_order_refund_application
        <trim prefix="where" prefixOverrides="and">
           <if test="_parameter!=null and _parameter!=0">
              and user_id=#{_parameter}
           </if>
        </trim>
    </select>


    <!--后台管理系统 -查询售后申请表-->
    <select parameterType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication" id="list" resultType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication">
        select * from t_whs_order_refund_application
        <trim prefix="where" prefixOverrides="and">
            <if test="userId!=null and userId!=0">
                and user_id=#{userId}
            </if>
        </trim>
    </select>

    <!--后台管理系统 -查询售后申请表-->
    <select parameterType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication" id="refundInfo" resultType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication">
        select id,application_type applicationType,exist_problem existProblem,other_problem otherProblem,
        refund_evidence refundEvidence,audit_status auditStatus,order_discount_fee orderDiscountFee,
        delivery_fee deliveryFee,comments comments,order_id orderId,user_id userId
        from t_whs_order_refund_application
        <trim prefix="where" prefixOverrides="and">
            <if test="orderId!=null and orderId!=''">
                and order_id=#{orderId}
            </if>
        </trim>
    </select>

    <!-- 后台管理  根据id查询售后订单详情 -->
    <select id="searchOrderById" parameterType="long" resultType="com.lhiot.mall.wholesale.aftersale.domain.OrderResult">
        SELECT <include refid="orderColumn"/>
        FROM t_whs_order t1
        WHERE t1.id = #{0}
    </select>

    <!--修改售后申请表-->



    <update parameterType="com.lhiot.mall.wholesale.aftersale.domain.OrderRefundApplication" id="updateById">
        update t_whs_order_refund_application
        <set>
            <if test="id!=null"> id = #{id}, </if>
            <if test="applicationType!=null"> application_type = #{applicationType}, </if>
            <if test="existProblem!=null"> exist_problem = #{existProblem}, </if>
            <if test="otherProblem!=null"> other_problem = #{otherProblem}, </if>
            <if test="refundEvidence!=null"> refund_evidence = #{refundEvidence}, </if>
            <if test="auditStatus!=null"> audit_status = #{auditStatus}, </if>
            <if test="orderDiscountFee!=null"> order_discount_fee = #{orderDiscountFee}, </if>
            <if test="deliveryFee!=null"> delivery_fee = #{deliveryFee}, </if>
            <if test="comments!=null"> comments = #{comments}, </if>
            <if test="orderId!=null"> order_id = #{orderId}, </if>
            <if test="userId!=null"> user_id = #{userId}, </if>
        </set>
        where id=#{id}
    </update>

</mapper>