<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.mall.wholesale.demand.mapper.DemandGoodsMapper">
	<sql id="demandGoodsColumn">
		t1.id as id,t1.goods_brand as goodsBrand,t1.goods_name as goodsName,t1.goods_standard as goodsStandard,
		t1.reference_price as referencePrice,t1.supplier as supplier,t1.comments as comments,t1.contact_phone as contactPhone,
		t1.user_id as userId,DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime
	</sql>

	<!-- 根据id查询新品需求详情 -->
	<select id="select" parameterType="long" resultType="com.lhiot.mall.wholesale.demand.domain.DemandGoodsResult">
		SELECT <include refid="demandGoodsColumn"/>
		FROM t_whs_demand_goods t1
		WHERE t1.id = #{0}
	</select>

	<!-- 后台管理 分页查询总数 -->
	<select id="pageQueryCount" parameterType="com.lhiot.mall.wholesale.demand.domain.gridparam.DemandGoodsGridParam" resultType="Integer">
		select count(t1.id) from t_whs_demand_goods t1
		<trim prefix="where" prefixOverrides="and">
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="userIds != null">
				and t1.user_id in
				<foreach collection="userIds" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</trim>
	</select>

	<!-- 后台管理 分页查询新品需求 -->
	<select id="pageQuery" parameterType="com.lhiot.mall.wholesale.demand.domain.gridparam.DemandGoodsGridParam"
			resultType="com.lhiot.mall.wholesale.demand.domain.DemandGoodsResult">
		select <include refid="demandGoodsColumn"/>
		from t_whs_demand_goods t1
        <trim prefix="where" prefixOverrides="and">
            <if test="createTimeBegin != null and createTimeBegin != ''">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and t1.create_time &lt;= #{createTimeEnd}</if>
            <if test="userIds != null and userIds != ''">
                    and t1.user_id in
                    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                        #{userId}
                    </foreach>
            </if>
        </trim>
		<include refid="common.pager"></include>
	</select>

    <!-- 新增新品需求 -->
    <insert id="insertDemandGoods" parameterType="com.lhiot.mall.wholesale.demand.domain.DemandGoods">
        insert into t_whs_demand_goods(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsBrand != null and goodsBrand != ''">goods_brand,</if>
            <if test="supplier != null and supplier != ''">supplier,</if>
            <if test="referencePrice != null and referencePrice != ''">reference_price,</if>
            <if test="comments != null and comments != ''">comments,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsBrand != null and goodsBrand != ''">#{goodsBrand},</if>
            <if test="supplier != null and supplier != ''">#{supplier},</if>
            <if test="referencePrice != null and referencePrice != ''">#{referencePrice},</if>
            <if test="comments != null and comments != ''">#{comments},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createTime != null ">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
        )
    </insert>
</mapper>
